Repository alibaba/Sentinel: changes, and which Codecov flags are due for each by the changed paths.
All: sentinel-adapter, sentinel-cluster, sentinel-core, sentinel-extension, sentinel-logging

fix: fix markdown table format to pass document-lint
  sentinel-adapter/sentinel-apache-httpclient5-adapter/README.md
Due: sentinel-adapter

fix: update @author from qihuai.wyq to uuuyuqi
  .vscode/settings.json
  sentinel-adapter/sentinel-apache-httpclient5-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/apache/httpclient5/SentinelApacheHttpClient5Handler.java
  sentinel-adapter/sentinel-apache-httpclient5-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/apache/httpclient5/config/SentinelApacheHttpClientConfig.java
  sentinel-adapter/sentinel-apache-httpclient5-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/apache/httpclient5/extractor/ApacheHttpClientResourceExtractor.java
  sentinel-adapter/sentinel-apache-httpclient5-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/apache/httpclient5/extractor/DefaultApacheHttpClientResourceExtractor.java
  sentinel-adapter/sentinel-apache-httpclient5-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/apache/httpclient5/fallback/ApacheHttpClientFallback.java
  sentinel-adapter/sentinel-apache-httpclient5-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/apache/httpclient5/fallback/DefaultApacheHttpClientFallback.java
  sentinel-adapter/sentinel-apache-httpclient5-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/apache/httpclient5/SentinelApacheHttpClientTest.java
  sentinel-adapter/sentinel-apache-httpclient5-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/apache/httpclient5/app/TestApplication.java
  sentinel-adapter/sentinel-apache-httpclient5-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/apache/httpclient5/app/controller/TestController.java
  sentinel-adapter/sentinel-apache-httpclient5-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/apache/httpclient5/config/SentinelApacheHttpClientConfigTest.java
  sentinel-adapter/sentinel-apache-httpclient5-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/apache/httpclient5/extractor/DefaultApacheHttpClientResourceExtractorTest.java
  sentinel-adapter/sentinel-apache-httpclient5-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/apache/httpclient5/fallback/ApacheHttpClientFallbackTest.java
Due: sentinel-adapter

chore: remove accidentally committed .vscode/settings.json
  .vscode/settings.json
Due: none

docs: add HC4 to HC5 migration notes for resource naming
  sentinel-adapter/sentinel-apache-httpclient5-adapter/README.md
Due: sentinel-adapter

Fix slot chain links for shared slots
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slotchain/DefaultProcessorSlotChain.java
  sentinel-core/src/test/java/com/alibaba/csp/sentinel/slots/DefaultSlotChainBuilderTest.java
Due: sentinel-core

fix: fix prototype slot node invalid issue (#3007)
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slotchain/DefaultProcessorSlotChain.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/block/flow/PrototypeSlotWrapper.java
  sentinel-core/src/test/java/com/alibaba/csp/sentinel/slots/ProcessorSlotChainTest.java
Due: sentinel-core

chore: prepare for 1.8.10 release
  README.md
  pom.xml
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/Constants.java
  sentinel-dashboard/Dockerfile
  sentinel-dashboard/README.md
Due: sentinel-core

chore: bump version to 1.8.11-SNAPSHOT
  pom.xml
Due: none

feat: add Jakarta EE Servlet 6.0 adapter module (#2998)
  sentinel-adapter/pom.xml
  sentinel-adapter/sentinel-web-servlet-jakarta/pom.xml
  sentinel-adapter/sentinel-web-servlet-jakarta/src/main/java/com/alibaba/csp/sentinel/adapter/servlet/CommonFilter.java
  sentinel-adapter/sentinel-web-servlet-jakarta/src/main/java/com/alibaba/csp/sentinel/adapter/servlet/CommonTotalFilter.java
  sentinel-adapter/sentinel-web-servlet-jakarta/src/main/java/com/alibaba/csp/sentinel/adapter/servlet/callback/DefaultUrlBlockHandler.java
  sentinel-adapter/sentinel-web-servlet-jakarta/src/main/java/com/alibaba/csp/sentinel/adapter/servlet/callback/DefaultUrlCleaner.java
  sentinel-adapter/sentinel-web-servlet-jakarta/src/main/java/com/alibaba/csp/sentinel/adapter/servlet/callback/RequestOriginParser.java
  sentinel-adapter/sentinel-web-servlet-jakarta/src/main/java/com/alibaba/csp/sentinel/adapter/servlet/callback/UrlBlockHandler.java
  sentinel-adapter/sentinel-web-servlet-jakarta/src/main/java/com/alibaba/csp/sentinel/adapter/servlet/callback/UrlCleaner.java
  sentinel-adapter/sentinel-web-servlet-jakarta/src/main/java/com/alibaba/csp/sentinel/adapter/servlet/callback/WebCallbackManager.java
  sentinel-adapter/sentinel-web-servlet-jakarta/src/main/java/com/alibaba/csp/sentinel/adapter/servlet/config/WebServletConfig.java
  sentinel-adapter/sentinel-web-servlet-jakarta/src/main/java/com/alibaba/csp/sentinel/adapter/servlet/util/FilterUtil.java
Due: sentinel-adapter

fix: skip Jakarta Servlet adapter on JDK < 17
  sentinel-adapter/pom.xml
  sentinel-adapter/sentinel-web-servlet-jakarta/pom.xml
Due: sentinel-adapter

Fix FlowRuleComparator violating the Comparator contract
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/block/flow/FlowRuleComparator.java
  sentinel-core/src/test/java/com/alibaba/csp/sentinel/slots/block/flow/FlowRuleComparatorTest.java
Due: sentinel-core

Guard MetricNode.fromThinString against lines with fewer than 7 fields
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/node/metric/MetricNode.java
  sentinel-core/src/test/java/com/alibaba/csp/sentinel/node/metric/MetricNodeTest.java
Due: sentinel-core

fix: support underscore dashboard env vars
  sentinel-dashboard/src/main/java/com/alibaba/csp/sentinel/dashboard/config/DashboardConfig.java
  sentinel-dashboard/src/test/java/com/alibaba/csp/sentinel/dashboard/config/DashboardConfigTest.java
Due: none

Guard against unresolved remote address in TokenClientHandler.getRemoteAddress
  sentinel-cluster/sentinel-cluster-client-default/src/main/java/com/alibaba/csp/sentinel/cluster/client/handler/TokenClientHandler.java
  sentinel-cluster/sentinel-cluster-client-default/src/test/java/com/alibaba/csp/sentinel/cluster/client/handler/TokenClientHandlerTest.java
Due: sentinel-cluster

Guard MetricFileNameComparator against filenames with fewer than 3 parts
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/node/metric/MetricWriter.java
  sentinel-core/src/test/java/com/alibaba/csp/sentinel/node/metric/MetricWriterTest.java
Due: sentinel-core

fix: preserve plus signs in param flow rules
  sentinel-extension/sentinel-parameter-flow-control/src/main/java/com/alibaba/csp/sentinel/command/handler/ModifyParamFlowRulesCommandHandler.java
  sentinel-extension/sentinel-parameter-flow-control/src/test/java/com/alibaba/csp/sentinel/slots/block/flow/param/ModifyParamFlowRulesCommandHandlerTest.java
Due: sentinel-extension

Fix: Resolve race condition in ClusterBuilderSlot volatile field visibility
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/clusterbuilder/ClusterBuilderSlot.java
Due: sentinel-core

Fix: Resolve double-check locking issues and null handling in ParameterMetric
  sentinel-extension/sentinel-parameter-flow-control/src/main/java/com/alibaba/csp/sentinel/slots/block/flow/param/ParameterMetric.java
Due: sentinel-extension

docs: Add comprehensive bugfix summary documenting all concurrent issues and fixes
  BUGFIX_SUMMARY.md
Due: none

docs: add CtSph concurrency test design
  docs/superpowers/specs/2026-07-15-ctsph-concurrency-tests-design.md
Due: none

docs: add CtSph concurrency test plan
  docs/superpowers/plans/2026-07-15-ctsph-concurrency-tests-plan.md
Due: none

test: verify CtSph uses concurrent chain map
  sentinel-core/src/test/java/com/alibaba/csp/sentinel/CtSphTest.java
Due: sentinel-core

test: cover concurrent CtSph chain lookup
  sentinel-core/src/test/java/com/alibaba/csp/sentinel/CtSphTest.java
Due: sentinel-core

test: cover concurrent CtSph capacity limit
  sentinel-core/src/test/java/com/alibaba/csp/sentinel/CtSphTest.java
Due: sentinel-core

style: fix CtSph synchronized block formatting
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/CtSph.java
Due: sentinel-core

test
  docs/superpowers/plans/2026-07-15-ctsph-concurrency-tests-plan.md
  docs/superpowers/specs/2026-07-15-ctsph-concurrency-tests-design.md
Due: none

支持流控规则发布到nacos
  sentinel-dashboard/pom.xml
  sentinel-dashboard/src/main/java/com/alibaba/csp/sentinel/dashboard/rule/nacos/FlowRuleNacosProvider.java
  sentinel-dashboard/src/main/java/com/alibaba/csp/sentinel/dashboard/rule/nacos/FlowRuleNacosPublisher.java
  sentinel-dashboard/src/main/java/com/alibaba/csp/sentinel/dashboard/rule/nacos/NacosConfig.java
  sentinel-dashboard/src/main/java/com/alibaba/csp/sentinel/dashboard/rule/nacos/NacosConfigUtil.java
  sentinel-dashboard/src/main/resources/application.properties
  sentinel-dashboard/src/main/webapp/resources/app/scripts/directives/sidebar/sidebar.html
  sentinel-dashboard/src/main/webapp/resources/dist/js/app.js
Due: none

支持熔断规则发布到nacos
  sentinel-dashboard/src/main/java/com/alibaba/csp/sentinel/dashboard/controller/DegradeController.java
  sentinel-dashboard/src/main/java/com/alibaba/csp/sentinel/dashboard/rule/nacos/DegradeRuleNacosProvider.java
  sentinel-dashboard/src/main/java/com/alibaba/csp/sentinel/dashboard/rule/nacos/DegradeRuleNacosPublisher.java
  sentinel-dashboard/src/main/java/com/alibaba/csp/sentinel/dashboard/rule/nacos/NacosConfig.java
  sentinel-dashboard/src/main/java/com/alibaba/csp/sentinel/dashboard/rule/nacos/NacosConfigUtil.java
Due: none

支持热点规则发布到nacos
  sentinel-dashboard/src/main/java/com/alibaba/csp/sentinel/dashboard/controller/ParamFlowRuleController.java
  sentinel-dashboard/src/main/java/com/alibaba/csp/sentinel/dashboard/rule/nacos/NacosConfig.java
  sentinel-dashboard/src/main/java/com/alibaba/csp/sentinel/dashboard/rule/nacos/ParamFlowRuleNacosProvider.java
  sentinel-dashboard/src/main/java/com/alibaba/csp/sentinel/dashboard/rule/nacos/ParamFlowRuleNacosPublisher.java
Due: none

支持系统规则发布到nacos
  sentinel-dashboard/src/main/java/com/alibaba/csp/sentinel/dashboard/controller/SystemController.java
  sentinel-dashboard/src/main/java/com/alibaba/csp/sentinel/dashboard/rule/nacos/NacosConfig.java
  sentinel-dashboard/src/main/java/com/alibaba/csp/sentinel/dashboard/rule/nacos/NacosConfigUtil.java
  sentinel-dashboard/src/main/java/com/alibaba/csp/sentinel/dashboard/rule/nacos/SystemRuleNacosProvider.java
  sentinel-dashboard/src/main/java/com/alibaba/csp/sentinel/dashboard/rule/nacos/SystemRuleNacosPublisher.java
Due: none

支持授权规则发布到nacos
  sentinel-dashboard/src/main/java/com/alibaba/csp/sentinel/dashboard/controller/AuthorityRuleController.java
  sentinel-dashboard/src/main/java/com/alibaba/csp/sentinel/dashboard/rule/nacos/AuthorityRuleNacosProvider.java
  sentinel-dashboard/src/main/java/com/alibaba/csp/sentinel/dashboard/rule/nacos/AuthorityRuleNacosPublisher.java
  sentinel-dashboard/src/main/java/com/alibaba/csp/sentinel/dashboard/rule/nacos/NacosConfig.java
  sentinel-dashboard/src/main/java/com/alibaba/csp/sentinel/dashboard/rule/nacos/NacosConfigUtil.java
Due: none

fix: enhance token server request handling and add max frame length validation
  sentinel-cluster/sentinel-cluster-server-default/src/main/java/com/alibaba/csp/sentinel/cluster/server/NettyTransportServer.java
  sentinel-cluster/sentinel-cluster-server-default/src/main/java/com/alibaba/csp/sentinel/cluster/server/ServerConstants.java
  sentinel-cluster/sentinel-cluster-server-default/src/main/java/com/alibaba/csp/sentinel/cluster/server/codec/data/ParamFlowRequestDataDecoder.java
  sentinel-cluster/sentinel-cluster-server-default/src/main/java/com/alibaba/csp/sentinel/cluster/server/codec/data/PingRequestDataDecoder.java
  sentinel-cluster/sentinel-cluster-server-default/src/main/java/com/alibaba/csp/sentinel/cluster/server/handler/TokenServerHandler.java
  sentinel-cluster/sentinel-cluster-server-default/src/test/java/com/alibaba/csp/sentinel/cluster/server/codec/data/ParamFlowRequestDataDecoderTest.java
  sentinel-cluster/sentinel-cluster-server-default/src/test/java/com/alibaba/csp/sentinel/cluster/server/codec/data/PingRequestDataDecoderTest.java
  sentinel-cluster/sentinel-cluster-server-default/src/test/java/com/alibaba/csp/sentinel/cluster/server/handler/TokenServerHandlerTest.java
Due: sentinel-cluster

fix: replace printStackTrace with RecordLog in ConfigUtil
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/util/ConfigUtil.java
Due: sentinel-core

fix: decouple HTTP status from body code in Zuul BlockResponse
  sentinel-adapter/sentinel-zuul-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/gateway/zuul/fallback/BlockResponse.java
  sentinel-adapter/sentinel-zuul-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/gateway/zuul/filters/SentinelZuulPreFilter.java
  sentinel-adapter/sentinel-zuul-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/gateway/zuul/fallback/BlockResponseTest.java
  sentinel-adapter/sentinel-zuul2-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/gateway/zuul2/fallback/BlockResponse.java
  sentinel-adapter/sentinel-zuul2-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/gateway/zuul2/filters/endpoint/SentinelZuulEndpoint.java
  sentinel-adapter/sentinel-zuul2-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/gateway/zuul2/fallback/BlockResponseTest.java
Due: sentinel-adapter

fix: prevent Netty command center from blocking JVM shutdown
  sentinel-transport/sentinel-transport-netty-http/src/main/java/com/alibaba/csp/sentinel/transport/command/NettyHttpCommandCenter.java
  sentinel-transport/sentinel-transport-netty-http/src/main/java/com/alibaba/csp/sentinel/transport/command/netty/HttpServer.java
  sentinel-transport/sentinel-transport-netty-http/src/test/java/com/alibaba/csp/sentinel/transport/command/NettyHttpCommandCenterTest.java
Due: none

test: refine Netty command center shutdown assertion
  sentinel-transport/sentinel-transport-netty-http/src/test/java/com/alibaba/csp/sentinel/transport/command/NettyHttpCommandCenterTest.java
Due: none

fix: fall back to OPEN when half-open probe is stuck and update retry timestamp after rollback
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/block/degrade/circuitbreaker/AbstractCircuitBreaker.java
  sentinel-core/src/test/java/com/alibaba/csp/sentinel/slots/block/degrade/circuitbreaker/ExceptionCircuitBreakerTest.java
Due: sentinel-core

feat: add Spring AI MCP tool adapter
  sentinel-adapter/pom.xml
  sentinel-adapter/sentinel-spring-ai-mcp-adapter/README.md
  sentinel-adapter/sentinel-spring-ai-mcp-adapter/pom.xml
  sentinel-adapter/sentinel-spring-ai-mcp-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/spring/ai/mcp/SentinelMcpToolSpecificationDecorator.java
  sentinel-adapter/sentinel-spring-ai-mcp-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/spring/ai/mcp/SentinelMcpToolSpecificationDecoratorTest.java
Due: sentinel-adapter

fix: isolate processor slot chain links
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slotchain/AbstractLinkedProcessorSlot.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slotchain/DefaultProcessorSlotChain.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slotchain/ProcessorSlotContext.java
  sentinel-core/src/test/java/com/alibaba/csp/sentinel/slotchain/DefaultProcessorSlotChainTest.java
  sentinel-core/src/test/java/com/alibaba/csp/sentinel/slots/DefaultSlotChainBuilderTest.java
Due: sentinel-core

docs: fix broken Keruyun logo link in README
  README.md
Due: none

Path conditions:
  sentinel-adapter: any of: sentinel-adapter, but not: sentinel-demo/.*, sentinel-dashboard/.*, sentinel-benchmark/.*, sentinel-transport/.*, sentinel-core/src/main/java/com/alibaba/csp/sentinel/eagleeye/*
  sentinel-cluster: any of: sentinel-cluster, but not: sentinel-demo/.*, sentinel-dashboard/.*, sentinel-benchmark/.*, sentinel-transport/.*, sentinel-core/src/main/java/com/alibaba/csp/sentinel/eagleeye/*
  sentinel-core: any of: sentinel-core, but not: sentinel-demo/.*, sentinel-dashboard/.*, sentinel-benchmark/.*, sentinel-transport/.*, sentinel-core/src/main/java/com/alibaba/csp/sentinel/eagleeye/*
  sentinel-extension: any of: sentinel-extension, but not: sentinel-demo/.*, sentinel-dashboard/.*, sentinel-benchmark/.*, sentinel-transport/.*, sentinel-core/src/main/java/com/alibaba/csp/sentinel/eagleeye/*
  sentinel-logging: any of: sentinel-logging, but not: sentinel-demo/.*, sentinel-dashboard/.*, sentinel-benchmark/.*, sentinel-transport/.*, sentinel-core/src/main/java/com/alibaba/csp/sentinel/eagleeye/*
