Repository alibaba/Sentinel: changes, and which Codecov flags are due for each by the changed paths.
All: sentinel-adapter, sentinel-cluster, sentinel-core, sentinel-extension, sentinel-logging

.codecov.yml:

ignore:
  - "sentinel-demo/.*"
  - "sentinel-dashboard/.*"
  - "sentinel-benchmark/.*"
  - "sentinel-transport/.*"
  - "sentinel-core/src/main/java/com/alibaba/csp/sentinel/eagleeye/*"
comment:                  # this is a top-level key
  layout: " condensed_header, diff, condensed_files, components, condensed_footer"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: false        # [true :: must have a base report to post]
  require_head: true       # [true :: must have a head report to post]
  hide_project_coverage: false # [true :: only show coverage on the git diff]
component_management:
  individual_components:
    - component_id: sentinel-adapter  # this is an identifier that should not be changed
      name: sentinel-adapter  # this is a display name, and can be changed freely
      paths:
        - sentinel-adapter
    - component_id: sentinel-cluster
      name: sentinel-cluster
      paths:
        - sentinel-cluster
    - component_id: sentinel-core
      name: sentinel-core
      paths:
        - sentinel-core
    - component_id: sentinel-extension
      name: sentinel-extension
      paths:
        - sentinel-extension
    - component_id: sentinel-logging
      name: sentinel-logging
      paths:
        - sentinel-logging
coverage:
  status:
    project:
      default:
        target: auto
        threshold: 0.5%
        base: auto
    patch:
      default:
        target: 60%
        threshold: 1%
        base: auto

add behavior limits and conflict warning logs with new unit tests
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/block/RuleConstant.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/block/flow/TrafficShapingControllerFactories.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/block/flow/TrafficShapingControllerFactory.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/block/flow/controller/DefaultControllerFactory.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/block/flow/controller/ThrottlingControllerFactory.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/block/flow/controller/WarmUpControllerFactory.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/block/flow/controller/WarmUpRateLimiterControllerFactory.java
  sentinel-core/src/test/java/com/alibaba/csp/sentinel/slots/block/flow/TrafficShapingControllerFactoriesTest.java
  sentinel-core/src/test/java/com/alibaba/csp/sentinel/slots/block/flow/controller/BuiltInControllerFactoryTest.java
  sentinel-core/src/test/java/com/alibaba/csp/sentinel/slots/block/flow/controller/CustomTokenBucketControllerFactory.java
  sentinel-core/src/test/java/com/alibaba/csp/sentinel/slots/block/flow/controller/InvalidReservedBehaviorFactory.java
  sentinel-core/src/test/resources/META-INF/services/com.alibaba.csp.sentinel.slots.block.flow.TrafficShapingControllerFactory
Due: sentinel-core

Add optional switch to skip regex matching when simple rules already match, default: false, keeps backward compatibility.
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/config/SentinelConfig.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/block/RuleManager.java
  sentinel-core/src/test/java/com/alibaba/csp/sentinel/config/SentinelConfigTest.java
Due: sentinel-core

Fixed the issue where the original test class was affected by the concatenation of resource names after adding the logic for the HTTP prefix concatenation.
  sentinel-adapter/sentinel-spring-webmvc-v6x-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/spring/webmvc_v6x/SentinelSpringMvcIntegrationTest.java
Due: sentinel-adapter

Fix some logical errors in the adapter logic.
  sentinel-adapter/sentinel-apache-dubbo-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/dubbo/SentinelDubboConsumerFilter.java
  sentinel-adapter/sentinel-apache-dubbo-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/dubbo/SentinelDubboConsumerFilterTest.java
  sentinel-adapter/sentinel-apache-dubbo-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/dubbo/SentinelDubboProviderFilterTest.java
  sentinel-adapter/sentinel-apache-dubbo3-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/dubbo3/SentinelDubboConsumerFilter.java
  sentinel-adapter/sentinel-apache-dubbo3-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/dubbo3/SentinelDubboConsumerFilterTest.java
  sentinel-adapter/sentinel-jax-rs-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/jaxrs/ClientFilterTest.java
  sentinel-adapter/sentinel-sofa-rpc-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/sofa/rpc/SentinelSofaRpcConsumerFilterTest.java
Due: sentinel-adapter

Fix potential NullPointerException caused by reading server metrics in circuit breaker.
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/block/degrade/adaptive/circuitbreaker/AdaptiveCircuitBreaker.java
  sentinel-core/src/test/java/com/alibaba/csp/sentinel/slots/DefaultSlotChainBuilderTest.java
  sentinel-core/src/test/java/com/alibaba/csp/sentinel/slots/block/degrade/adaptive/AdaptiveCircuitBreakerManagerTest.java
  sentinel-core/src/test/java/com/alibaba/csp/sentinel/slots/block/degrade/adaptive/AdaptiveDegradeRuleManagerTest.java
  sentinel-core/src/test/java/com/alibaba/csp/sentinel/slots/block/degrade/adaptive/AdaptiveDegradeRuleTest.java
  sentinel-core/src/test/java/com/alibaba/csp/sentinel/slots/block/degrade/adaptive/AdaptiveServerMetricTest.java
  sentinel-core/src/test/java/com/alibaba/csp/sentinel/slots/block/degrade/adaptive/check/AbstractAdaptiveDegradeCheckTest.java
  sentinel-core/src/test/java/com/alibaba/csp/sentinel/slots/block/degrade/adaptive/check/AdaptiveDegradeCheckProviderTest.java
  sentinel-core/src/test/java/com/alibaba/csp/sentinel/slots/block/degrade/adaptive/circuitbreaker/AdaptiveCircuitBreakerTest.java
  sentinel-core/src/test/java/com/alibaba/csp/sentinel/slots/block/degrade/adaptive/circuitbreaker/AdaptiveProbeManagerTest.java
  sentinel-core/src/test/java/com/alibaba/csp/sentinel/slots/block/degrade/adaptive/circuitbreaker/AdaptiveProbeTest.java
  sentinel-core/src/test/java/com/alibaba/csp/sentinel/slots/block/degrade/adaptive/scenario/OverloadScenarioTest.java
  sentinel-core/src/test/java/com/alibaba/csp/sentinel/slots/block/degrade/adaptive/scenario/ScenarioManagerTest.java
  sentinel-core/src/test/java/com/alibaba/csp/sentinel/spi/SpiLoaderTest.java
Due: sentinel-core

fix RuleManagerTest unit test failure
  sentinel-core/src/test/java/com/alibaba/csp/sentinel/slots/block/RuleManagerTest.java
Due: sentinel-core

remove mseHttpMethodSpecify field and update the unit test as suggested.
  sentinel-adapter/sentinel-spring-webmvc-v6x-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/spring/webmvc_v6x/SentinelWebInterceptor.java
  sentinel-adapter/sentinel-spring-webmvc-v6x-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/spring/webmvc_v6x/config/SentinelWebMvcConfig.java
  sentinel-adapter/sentinel-spring-webmvc-v6x-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/spring/webmvc_v6x/SentinelWebInterceptorHttpMethodPrefixTest.java
Due: sentinel-adapter

Update Endpoint.java
  sentinel-transport/sentinel-transport-common/src/main/java/com/alibaba/csp/sentinel/transport/endpoint/Endpoint.java
Due: none

chore: remove node_modules from git & add to .gitignore
  .gitignore
Due: none

fix(docs): normalize README table style (MD060) across adapters and cluster modules
  sentinel-adapter/sentinel-apache-httpclient-adapter/README.md
  sentinel-adapter/sentinel-okhttp-adapter/README.md
  sentinel-adapter/sentinel-spring-webmvc-adapter/README.md
  sentinel-adapter/sentinel-spring-webmvc-v6x-adapter/README.md
  sentinel-cluster/sentinel-cluster-server-envoy-rls/README.md
  sentinel-dashboard/README.md
  sentinel-extension/sentinel-parameter-flow-control/README.md
Due: sentinel-adapter, sentinel-cluster, sentinel-extension

docs: fix compact table style in parameter flow README
  sentinel-extension/sentinel-parameter-flow-control/README.md
Due: sentinel-extension

docs: fix markdownlint MD009 and MD060 in README files
  README.md
  sentinel-adapter/sentinel-apache-httpclient-adapter/README.md
  sentinel-adapter/sentinel-okhttp-adapter/README.md
  sentinel-adapter/sentinel-spring-webmvc-adapter/README.md
  sentinel-cluster/sentinel-cluster-server-envoy-rls/README.md
  sentinel-dashboard/README.md
  sentinel-dashboard/Sentinel_Dashboard_Feature.md
  sentinel-demo/sentinel-demo-dubbo/README.md
  sentinel-extension/sentinel-parameter-flow-control/README.md
Due: sentinel-adapter, sentinel-cluster, sentinel-extension

docs: fix table format in parameter-flow-control README (MD060/MD009)
  sentinel-extension/sentinel-parameter-flow-control/README.md
Due: sentinel-extension

docs: fix table format in spring-webmvc README files (MD060/MD009)
  sentinel-adapter/sentinel-spring-webmvc-adapter/README.md
  sentinel-adapter/sentinel-spring-webmvc-v6x-adapter/README.md
Due: sentinel-adapter

fix: restore UTF-8 encoding and fix markdownlint errors
  README.md
  sentinel-adapter/sentinel-spring-webmvc-adapter/README.md
  sentinel-cluster/sentinel-cluster-server-envoy-rls/README.md
  sentinel-dashboard/README.md
  sentinel-dashboard/Sentinel_Dashboard_Feature.md
  sentinel-demo/sentinel-demo-dubbo/README.md
Due: sentinel-adapter, sentinel-cluster

fix: wrap remaining bare URLs with angle brackets (MD034)
  sentinel-dashboard/Sentinel_Dashboard_Feature.md
  sentinel-demo/sentinel-demo-dubbo/README.md
Due: none

fix: remove trailing spaces from table rows (MD009)
  sentinel-adapter/sentinel-spring-webmvc-adapter/README.md
  sentinel-cluster/sentinel-cluster-server-envoy-rls/README.md
  sentinel-dashboard/README.md
Due: sentinel-adapter, sentinel-cluster

test: remove empty EndpointTest.java (fix accidental PR changes)
  sentinel-transport/sentinel-transport-common/src/test/java/com/alibaba/csp/sentinel/transport/endpoint.EndpointTest.java
  sentinel-transport/sentinel-transport-common/src/test/java/com/alibaba/csp/sentinel/transport/endpoint/EndpointTest.java
Due: none

fix: Endpoint#toString host formatting; add Endpoint unit test
  sentinel-transport/sentinel-transport-common/src/main/java/com/alibaba/csp/sentinel/transport/endpoint/Endpoint.java
  sentinel-transport/sentinel-transport-common/src/test/java/com/alibaba/csp/sentinel/transport/endpoint.EndpointTest.java
Due: none

修复使用FileRefreshableDataSource作为规则数据源时，初始化空规则文件会导致StringIndexOutOfBoundsException异常
  sentinel-extension/sentinel-datasource-extension/src/main/java/com/alibaba/csp/sentinel/datasource/FileRefreshableDataSource.java
Due: sentinel-extension

issue #3513
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/CtSph.java
Due: sentinel-core

fix: update testMaxErrorRatioThreshold to use Mockito MockedStatic
  sentinel-core/src/test/java/com/alibaba/csp/sentinel/slots/block/degrade/circuitbreaker/ExceptionCircuitBreakerTest.java
Due: sentinel-core

fix other ut
  sentinel-core/src/test/java/com/alibaba/csp/sentinel/slots/block/flow/FlowPartialIntegrationTest.java
Due: sentinel-core

feat: support Spring RestClient
  sentinel-adapter/pom.xml
  sentinel-adapter/sentinel-spring-restclient-adapter/README.md
  sentinel-adapter/sentinel-spring-restclient-adapter/pom.xml
  sentinel-adapter/sentinel-spring-restclient-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/spring/restclient/SentinelClientHttpResponse.java
  sentinel-adapter/sentinel-spring-restclient-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/spring/restclient/SentinelRestClientConfig.java
  sentinel-adapter/sentinel-spring-restclient-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/spring/restclient/SentinelRestClientInterceptor.java
  sentinel-adapter/sentinel-spring-restclient-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/spring/restclient/extractor/DefaultRestClientResourceExtractor.java
  sentinel-adapter/sentinel-spring-restclient-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/spring/restclient/extractor/RestClientResourceExtractor.java
  sentinel-adapter/sentinel-spring-restclient-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/spring/restclient/fallback/DefaultRestClientFallback.java
  sentinel-adapter/sentinel-spring-restclient-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/spring/restclient/fallback/RestClientFallback.java
  sentinel-adapter/sentinel-spring-restclient-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/spring/restclient/ManualTest.java
  sentinel-adapter/sentinel-spring-restclient-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/spring/restclient/SentinelClientHttpResponseTest.java
  sentinel-adapter/sentinel-spring-restclient-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/spring/restclient/SentinelRestClientConfigTest.java
  sentinel-adapter/sentinel-spring-restclient-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/spring/restclient/SentinelRestClientInterceptorSimpleTest.java
  sentinel-adapter/sentinel-spring-restclient-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/spring/restclient/app/TestApplication.java
  sentinel-adapter/sentinel-spring-restclient-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/spring/restclient/app/TestController.java
  sentinel-adapter/sentinel-spring-restclient-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/spring/restclient/extractor/DefaultRestClientResourceExtractorTest.java
  sentinel-adapter/sentinel-spring-restclient-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/spring/restclient/fallback/DefaultRestClientFallbackTest.java
Due: sentinel-adapter

add customized resourceExtractor and fallback test
  sentinel-adapter/sentinel-spring-restclient-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/spring/restclient/SentinelRestClientInterceptorSimpleTest.java
Due: sentinel-adapter

fix: resolve markdown lint errors in README
  sentinel-adapter/sentinel-spring-restclient-adapter/README.md
Due: sentinel-adapter

fix: skip tests on Java < 17 for Spring 6.x compatibility
  sentinel-adapter/sentinel-spring-restclient-adapter/pom.xml
Due: sentinel-adapter

fix: remove extra trailing blank line in README
  sentinel-adapter/sentinel-spring-restclient-adapter/README.md
Due: sentinel-adapter

fix: address PR review comments for restclient adapter
  sentinel-adapter/sentinel-spring-restclient-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/spring/restclient/SentinelClientHttpResponse.java
  sentinel-adapter/sentinel-spring-restclient-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/spring/restclient/SentinelRestClientInterceptor.java
  sentinel-adapter/sentinel-spring-restclient-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/spring/restclient/fallback/DefaultRestClientFallback.java
  sentinel-adapter/sentinel-spring-restclient-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/spring/restclient/SentinelRestClientInterceptorSimpleTest.java
  sentinel-adapter/sentinel-spring-restclient-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/spring/restclient/fallback/DefaultRestClientFallbackTest.java
Due: sentinel-adapter

refactor: remove SentinelClientHttpResponse class
  sentinel-adapter/sentinel-spring-restclient-adapter/README.md
  sentinel-adapter/sentinel-spring-restclient-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/spring/restclient/SentinelClientHttpResponse.java
  sentinel-adapter/sentinel-spring-restclient-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/spring/restclient/fallback/RestClientFallback.java
  sentinel-adapter/sentinel-spring-restclient-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/spring/restclient/ManualTest.java
  sentinel-adapter/sentinel-spring-restclient-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/spring/restclient/SentinelClientHttpResponseTest.java
  sentinel-adapter/sentinel-spring-restclient-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/spring/restclient/SentinelRestClientInterceptorSimpleTest.java
Due: sentinel-adapter

chore: bump version to 1.8.10-SNAPSHOT
  pom.xml
Due: none

fix(dashboard): reset field values when switching circuit breaker strategy
  sentinel-dashboard/src/main/webapp/resources/app/scripts/controllers/degrade.js
  sentinel-dashboard/src/main/webapp/resources/app/views/dialog/degrade-rule-dialog.html
Due: none

fix: restrict SentinelResourceAspect pointcut to execution join points only
  sentinel-extension/sentinel-annotation-aspectj/src/main/java/com/alibaba/csp/sentinel/annotation/aspectj/SentinelResourceAspect.java
Due: sentinel-extension

fix: ensure subsequent slots execute after PriorityWaitException in FlowSlot
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/block/flow/FlowSlot.java
  sentinel-core/src/test/java/com/alibaba/csp/sentinel/slots/block/flow/FlowSlotTest.java
Due: sentinel-core

docs: fix README wording and log filename example
  README.md
Due: none

feat: add Apache HttpClient 5.x adapter support
  sentinel-adapter/pom.xml
  sentinel-adapter/sentinel-apache-httpclient5-adapter/README.md
  sentinel-adapter/sentinel-apache-httpclient5-adapter/pom.xml
  sentinel-adapter/sentinel-apache-httpclient5-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/apache/httpclient5/SentinelApacheHttpClient5Handler.java
  sentinel-adapter/sentinel-apache-httpclient5-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/apache/httpclient5/config/SentinelApacheHttpClientConfig.java
  sentinel-adapter/sentinel-apache-httpclient5-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/apache/httpclient5/extractor/ApacheHttpClientResourceExtractor.java
  sentinel-adapter/sentinel-apache-httpclient5-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/apache/httpclient5/extractor/DefaultApacheHttpClientResourceExtractor.java
  sentinel-adapter/sentinel-apache-httpclient5-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/apache/httpclient5/fallback/ApacheHttpClientFallback.java
  sentinel-adapter/sentinel-apache-httpclient5-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/apache/httpclient5/fallback/DefaultApacheHttpClientFallback.java
  sentinel-adapter/sentinel-apache-httpclient5-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/apache/httpclient5/SentinelApacheHttpClientTest.java
  sentinel-adapter/sentinel-apache-httpclient5-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/apache/httpclient5/app/TestApplication.java
  sentinel-adapter/sentinel-apache-httpclient5-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/apache/httpclient5/app/controller/TestController.java
  sentinel-adapter/sentinel-apache-httpclient5-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/apache/httpclient5/config/SentinelApacheHttpClientConfigTest.java
  sentinel-adapter/sentinel-apache-httpclient5-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/apache/httpclient5/extractor/DefaultApacheHttpClientResourceExtractorTest.java
  sentinel-adapter/sentinel-apache-httpclient5-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/apache/httpclient5/fallback/ApacheHttpClientFallbackTest.java
Due: sentinel-adapter

fix: remove user input reflection in test controller to resolve CodeQL XSS alert
  sentinel-adapter/sentinel-apache-httpclient5-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/apache/httpclient5/app/controller/TestController.java
Due: sentinel-adapter

feat: add Apache HttpClient 5.x adapter for Sentinel
  sentinel-adapter/pom.xml
  sentinel-adapter/sentinel-apache-httpclient5-adapter/README.md
  sentinel-adapter/sentinel-apache-httpclient5-adapter/pom.xml
  sentinel-adapter/sentinel-apache-httpclient5-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/apache/httpclient5/SentinelApacheHttpClient5Handler.java
  sentinel-adapter/sentinel-apache-httpclient5-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/apache/httpclient5/config/SentinelApacheHttpClientConfig.java
  sentinel-adapter/sentinel-apache-httpclient5-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/apache/httpclient5/extractor/ApacheHttpClientResourceExtractor.java
  sentinel-adapter/sentinel-apache-httpclient5-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/apache/httpclient5/extractor/DefaultApacheHttpClientResourceExtractor.java
  sentinel-adapter/sentinel-apache-httpclient5-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/apache/httpclient5/fallback/ApacheHttpClientFallback.java
  sentinel-adapter/sentinel-apache-httpclient5-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/apache/httpclient5/fallback/DefaultApacheHttpClientFallback.java
  sentinel-adapter/sentinel-apache-httpclient5-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/apache/httpclient5/SentinelApacheHttpClientTest.java
  sentinel-adapter/sentinel-apache-httpclient5-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/apache/httpclient5/app/TestApplication.java
  sentinel-adapter/sentinel-apache-httpclient5-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/apache/httpclient5/app/controller/TestController.java
  sentinel-adapter/sentinel-apache-httpclient5-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/apache/httpclient5/config/SentinelApacheHttpClientConfigTest.java
  sentinel-adapter/sentinel-apache-httpclient5-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/apache/httpclient5/extractor/DefaultApacheHttpClientResourceExtractorTest.java
  sentinel-adapter/sentinel-apache-httpclient5-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/apache/httpclient5/fallback/ApacheHttpClientFallbackTest.java
Due: sentinel-adapter
