Repository alibaba/Sentinel: changes, and which Codecov flags are due for each by the changed paths.
All: sentinel-adapter, sentinel-cluster, sentinel-core, sentinel-extension, sentinel-logging

code conventions
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/EventProperties.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/SentinelEventBus.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/SentinelEventListener.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/factory/DefaultSentinelEventMulticasterFactory.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/factory/SentinelEventMulticasterFactory.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/freq/PeriodFreqLimiter.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/freq/SentinelEventFreqLimiter.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/freq/impl/BaseOriginPeriodFreqLimiter.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/freq/impl/BaseRuleIdPeriodFreqLimiter.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/freq/impl/BaseSysMetricPeriodFreqLimiter.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/model/SentinelEvent.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/model/impl/AuthorityBlockEvent.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/model/impl/FlowBlockEvent.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/model/impl/SentinelRuleEvent.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/model/impl/SystemBlockEvent.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/multicaster/DefaultSentinelEventMulticaster.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/multicaster/SentinelEventMulticaster.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/registry/DefaultSentinelEventListenerRegistry.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/registry/SentinelEventListenerRegistry.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/event/BlockEventPublisher.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/event/EventSlot.java
Due: sentinel-core

add create time for base event.
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/model/SentinelEvent.java
Due: sentinel-core

final event field and specify period limiter.
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/freq/impl/AuthorityEventPeriodFreqLimiter.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/freq/impl/FlowEventPeriodFreqLimiter.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/freq/impl/SysEventPeriodFreqLimiter.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/model/impl/AuthorityBlockEvent.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/model/impl/FlowBlockEvent.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/model/impl/SystemBlockEvent.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/event/BlockEventPublisher.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/event/EventSlot.java
Due: sentinel-core

add circuit breaker state listen.
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/model/impl/CircuitBreakerStateEvent.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/block/degrade/circuitbreaker/AbstractCircuitBreaker.java
Due: sentinel-core

move all block event to event package.
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/freq/impl/FlowEventPeriodFreqLimiter.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/freq/impl/SysEventPeriodFreqLimiter.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/model/impl/CircuitBreakerStateEvent.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/model/impl/block/AuthorityBlockEvent.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/model/impl/block/FlowBlockEvent.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/model/impl/block/SystemBlockEvent.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/event/BlockEventPublisher.java
Due: sentinel-core

add cluster state listen.
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/cluster/ClusterStateManager.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/model/impl/ClusterFlowStateEvent.java
Due: sentinel-core

add cluster fallback listen.
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/freq/BasicPeriodLimiterAnnotation.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/freq/impl/ClusterFallbackPeriodFreqLimiter.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/model/impl/ClusterFallbackEvent.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/block/flow/FlowRuleChecker.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/event/BlockEventPublisher.java
  sentinel-core/src/main/resources/META-INF/services/com.alibaba.csp.sentinel.init.InitFunc
Due: sentinel-core

refactor period limiter init func.
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/freq/BasicPeriodLimiterAnnotation.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/freq/PeriodLimiterInitFun.java
Due: sentinel-core

refactor block e handle to interface.
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/event/BasicBlockEventHandler.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/event/BlockEventPublisher.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/event/EventSlot.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/event/inte/BlockEventHandler.java
  sentinel-core/src/main/resources/META-INF/services/com.alibaba.csp.sentinel.slots.event.inte.BlockEventHandler
Due: sentinel-core

fix param flow fallback no event.
  sentinel-extension/sentinel-parameter-flow-control/src/main/java/com/alibaba/csp/sentinel/slots/block/flow/param/ParamFlowChecker.java
Due: sentinel-extension

add param flow listen.
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/freq/BasicPeriodLimiterInitFunc.java
  sentinel-core/src/main/resources/META-INF/services/com.alibaba.csp.sentinel.init.InitFunc
  sentinel-extension/sentinel-parameter-flow-control/src/main/java/com/alibaba/csp/sentinel/event/freq/ParamFlowEventPeriodFreqLimiter.java
  sentinel-extension/sentinel-parameter-flow-control/src/main/java/com/alibaba/csp/sentinel/event/model/ParamFlowBlockEvent.java
  sentinel-extension/sentinel-parameter-flow-control/src/main/java/com/alibaba/csp/sentinel/init/ParamFlowPeriodLimiterInitFunc.java
  sentinel-extension/sentinel-parameter-flow-control/src/main/java/com/alibaba/csp/sentinel/slots/event/ParamFlowBlockEventHandler.java
  sentinel-extension/sentinel-parameter-flow-control/src/main/resources/META-INF/services/com.alibaba.csp.sentinel.init.InitFunc
  sentinel-extension/sentinel-parameter-flow-control/src/main/resources/META-INF/services/com.alibaba.csp.sentinel.slots.event.inte.BlockEventHandler
Due: sentinel-core, sentinel-extension

add support judge.
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/freq/BasicPeriodLimiterInitFunc.java
Due: sentinel-core

make limit period time can be dynamic configure
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/freq/BasicPeriodLimiterInitFunc.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/freq/PeriodFreqLimiter.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/freq/impl/AuthorityEventPeriodFreqLimiter.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/freq/impl/ClusterFallbackPeriodFreqLimiter.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/freq/impl/FlowEventPeriodFreqLimiter.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/freq/impl/SysEventPeriodFreqLimiter.java
  sentinel-extension/sentinel-parameter-flow-control/src/main/java/com/alibaba/csp/sentinel/event/freq/ParamFlowEventPeriodFreqLimiter.java
  sentinel-extension/sentinel-parameter-flow-control/src/main/java/com/alibaba/csp/sentinel/event/model/ParamFlowBlockEvent.java
Due: sentinel-core, sentinel-extension

make limit period time can be dynamic configure, for param flow
  sentinel-extension/sentinel-parameter-flow-control/src/main/java/com/alibaba/csp/sentinel/init/ParamFlowPeriodLimiterInitFunc.java
Due: sentinel-extension

add period multicaster.
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/multicaster/DefaultSentinelEventMulticaster.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/multicaster/PeriodSentinelEventMulticaster.java
Due: sentinel-core

add listener multiple event listening support.
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/SentinelEventBus.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/SentinelEventListener.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/factory/DefaultSentinelEventMulticasterFactory.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/multicaster/DefaultSentinelEventMulticaster.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/registry/DefaultSentinelEventListenerRegistry.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/registry/SentinelEventListenerRegistry.java
Due: sentinel-core

add ut
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/freq/PeriodFreqLimiter.java
  sentinel-core/src/test/java/com/alibaba/csp/sentinel/event/factory/SentinelEventMulticasterFactoryTest.java
  sentinel-core/src/test/java/com/alibaba/csp/sentinel/event/freq/AuthorityEventPeriodFreqLimiterTest.java
  sentinel-core/src/test/java/com/alibaba/csp/sentinel/event/freq/ClusterFallbackPeriodFreqLimiterTest.java
  sentinel-core/src/test/java/com/alibaba/csp/sentinel/event/freq/FlowEventPeriodFreqLimiterTest.java
  sentinel-core/src/test/java/com/alibaba/csp/sentinel/event/freq/SysEventPeriodFreqLimiterTest.java
  sentinel-core/src/test/java/com/alibaba/csp/sentinel/event/multicaster/DefaultSentinelEventMulticasterTest.java
  sentinel-core/src/test/java/com/alibaba/csp/sentinel/slots/event/EventSlotTest.java
  sentinel-extension/sentinel-parameter-flow-control/src/test/java/com/alibaba/csp/sentinel/slots/event/EventSlotParamFlowTest.java
Due: sentinel-core, sentinel-extension

fix: an inaccurate error message when parsing a log level from a string (#3221)
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/log/LogBase.java
Due: sentinel-core

add event file export support
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/exporter/EventExporter.java
Due: sentinel-core

add flush thread for event export
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/config/SentinelConfig.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/exporter/EventExporter.java
Due: sentinel-core

add longer period to refresh event
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/exporter/EventExporter.java
Due: sentinel-core

fix one more remain file issue
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/exporter/EventExporter.java
Due: sentinel-core

add listener for export event json to disk
  sentinel-core/pom.xml
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/freq/BasicPeriodLimiterInitFunc.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/event/listener/BasicExportListener.java
  sentinel-extension/sentinel-parameter-flow-control/src/main/java/com/alibaba/csp/sentinel/init/ParamFlowPeriodLimiterInitFunc.java
  sentinel-extension/sentinel-parameter-flow-control/src/main/java/com/alibaba/csp/sentinel/slots/event/listener/ParamFlowExportListener.java
Due: sentinel-core, sentinel-extension

rename file name
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/exporter/EventExporter.java
Due: sentinel-core

fix roll file check issue
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/exporter/EventExporter.java
Due: sentinel-core

add listeners sort
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/multicaster/DefaultSentinelEventMulticaster.java
Due: sentinel-core

fix less file leave issue
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/exporter/EventExporter.java
Due: sentinel-core

add more log and fix log issue
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/node/metric/MetricTimerListener.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/node/metric/export/DefaultExporter.java
Due: sentinel-core

Fixed offset syntax by using correct method
  sentinel-core/src/test/java/com/alibaba/csp/sentinel/eagleeye/EagleEyeCoreUtilsTest.java
Due: sentinel-core

Fix for Incorrect method of reading indicator files
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/node/metric/MetricSearcher.java
Due: sentinel-core

Improved Date formatter
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/node/metric/MetricNode.java
Due: sentinel-core

change in naming conv
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/node/metric/MetricNode.java
Due: sentinel-core

change in datetime format
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/node/metric/MetricNode.java
Due: sentinel-core

support custom traffic shaping controller
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/block/flow/FlowRuleUtil.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/block/flow/LoggingTrafficShapingControllerFactory.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/block/flow/TrafficShapingControllerFactories.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/block/flow/TrafficShapingControllerFactory.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/block/flow/controller/DefaultControllerFactory.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/block/flow/controller/ThrottlingControllerFactory.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/block/flow/controller/WarmUpControllerFactory.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/block/flow/controller/WarmUpRateLimiterControllerFactory.java
  sentinel-core/src/main/resources/META-INF/services/com.alibaba.csp.sentinel.slots.block.flow.TrafficShapingControllerFactory
Due: sentinel-core

fix window deprecated check
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/statistic/base/LeapArray.java
Due: sentinel-core

codecov test
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/node/metric/MetricNode.java
Due: sentinel-core

codecov test
  .github/workflows/ci.yml
Due: none

Supports single request timeout and connection-level response promise holder
  sentinel-cluster/sentinel-cluster-client-default/src/main/java/com/alibaba/csp/sentinel/cluster/client/NettyTransportClient.java
  sentinel-cluster/sentinel-cluster-client-default/src/main/java/com/alibaba/csp/sentinel/cluster/client/handler/TokenClientHandler.java
  sentinel-cluster/sentinel-cluster-client-default/src/main/java/com/alibaba/csp/sentinel/cluster/client/handler/TokenClientPromiseHolder.java
  sentinel-cluster/sentinel-cluster-common-default/src/main/java/com/alibaba/csp/sentinel/cluster/request/ClusterRequest.java
Due: sentinel-cluster

Path conditions:
  sentinel-adapter: any of: sentinel-adapter, but not: sentinel-demo/.*, sentinel-dashboard/.*, sentinel-benchmark/.*, sentinel-transport/.*, sentinel-core/src/main/java/com/alibaba/csp/sentinel/eagleeye/*
  sentinel-cluster: any of: sentinel-cluster, but not: sentinel-demo/.*, sentinel-dashboard/.*, sentinel-benchmark/.*, sentinel-transport/.*, sentinel-core/src/main/java/com/alibaba/csp/sentinel/eagleeye/*
  sentinel-core: any of: sentinel-core, but not: sentinel-demo/.*, sentinel-dashboard/.*, sentinel-benchmark/.*, sentinel-transport/.*, sentinel-core/src/main/java/com/alibaba/csp/sentinel/eagleeye/*
  sentinel-extension: any of: sentinel-extension, but not: sentinel-demo/.*, sentinel-dashboard/.*, sentinel-benchmark/.*, sentinel-transport/.*, sentinel-core/src/main/java/com/alibaba/csp/sentinel/eagleeye/*
  sentinel-logging: any of: sentinel-logging, but not: sentinel-demo/.*, sentinel-dashboard/.*, sentinel-benchmark/.*, sentinel-transport/.*, sentinel-core/src/main/java/com/alibaba/csp/sentinel/eagleeye/*
