Repository alibaba/Sentinel: changes, and which Codecov flags are due for each by the changed paths.
All: sentinel-adapter, sentinel-cluster, sentinel-core, sentinel-extension, sentinel-logging

.codecov.yml:

ignore:
  - "sentinel-demo/.*"
  - "sentinel-dashboard/.*"
  - "sentinel-benchmark/.*"
  - "sentinel-transport/.*"
  - "sentinel-core/src/main/java/com/alibaba/csp/sentinel/eagleeye/*"
comment:                  # this is a top-level key
  layout: " condensed_header, diff, condensed_files, components, condensed_footer"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: false        # [true :: must have a base report to post]
  require_head: true       # [true :: must have a head report to post]
  hide_project_coverage: false # [true :: only show coverage on the git diff]
component_management:
  individual_components:
    - component_id: sentinel-adapter  # this is an identifier that should not be changed
      name: sentinel-adapter  # this is a display name, and can be changed freely
      paths:
        - sentinel-adapter
    - component_id: sentinel-cluster
      name: sentinel-cluster
      paths:
        - sentinel-cluster
    - component_id: sentinel-core
      name: sentinel-core
      paths:
        - sentinel-core
    - component_id: sentinel-extension
      name: sentinel-extension
      paths:
        - sentinel-extension
    - component_id: sentinel-logging
      name: sentinel-logging
      paths:
        - sentinel-logging
coverage:
  status:
    project:
      default:
        target: auto
        threshold: 0.5%
        base: auto
    patch:
      default:
        target: 60%
        threshold: 1%
        base: auto

修复bug: NodeSelectorSlot只会记录初次调用记录
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/nodeselector/NodeSelectorSlot.java
  sentinel-core/src/test/java/com/alibaba/csp/sentinel/CtEntryTest.java
Due: sentinel-core

修改注释
  sentinel-core/src/test/java/com/alibaba/csp/sentinel/CtEntryTest.java
Due: sentinel-core

remove repeat check code
  sentinel-extension/sentinel-parameter-flow-control/src/main/java/com/alibaba/csp/sentinel/slots/block/flow/param/ParamFlowSlot.java
Due: sentinel-extension

fix(ClusterMetric): fix tryOccupyNext return the wrong wait seconds problem
  sentinel-cluster/sentinel-cluster-server-default/src/main/java/com/alibaba/csp/sentinel/cluster/flow/statistic/metric/ClusterMetric.java
  sentinel-cluster/sentinel-cluster-server-default/src/test/java/com/alibaba/csp/sentinel/cluster/flow/statistic/metric/ClusterMetricTest.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/statistic/base/LeapArray.java
Due: sentinel-cluster, sentinel-core

Create uiuiui
  sentinel-dashboard/uiuiui
Due: none

issue #3511
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/CtSph.java
Due: sentinel-core

issue #3513
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/CtSph.java
Due: sentinel-core

Fix(paramflow/nacos): bridge ParamFlow and Authority rules to Nacos correctly (#3453)
  sentinel-dashboard/src/main/java/com/alibaba/csp/sentinel/dashboard/datasource/entity/rule/AuthorityRuleCorrectEntity.java
  sentinel-dashboard/src/main/java/com/alibaba/csp/sentinel/dashboard/datasource/entity/rule/ParamFlowRuleCorrectEntity.java
  sentinel-dashboard/src/test/java/com/alibaba/csp/sentinel/dashboard/rule/nacos/AuthorityRuleNacosProvider.java
  sentinel-dashboard/src/test/java/com/alibaba/csp/sentinel/dashboard/rule/nacos/AuthorityRuleNacosPublisher.java
  sentinel-dashboard/src/test/java/com/alibaba/csp/sentinel/dashboard/rule/nacos/NacosConfig.java
  sentinel-dashboard/src/test/java/com/alibaba/csp/sentinel/dashboard/rule/nacos/NacosConfigUtil.java
  sentinel-dashboard/src/test/java/com/alibaba/csp/sentinel/dashboard/rule/nacos/ParamFlowRuleNacosProvider.java
  sentinel-dashboard/src/test/java/com/alibaba/csp/sentinel/dashboard/rule/nacos/ParamFlowRuleNacosPublisher.java
Due: none

修复ThrottlingController大量并发访问时可能流控失效的问题
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/block/flow/controller/ThrottlingController.java
Due: sentinel-core

add a new circuitbreaker
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/block/RuleConstant.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/block/degrade/DefaultCircuitBreakerRuleManager.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/block/degrade/DegradeRuleManager.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/block/degrade/circuitbreaker/LowRateAllowedCircuitBreaker.java
Due: sentinel-core

1
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/Constants.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/CtEntry.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/CtSph.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/Entry.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/context/Context.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/node/DefaultNode.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slotchain/DefaultProcessorSlotChain.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slotchain/MethodResourceWrapper.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slotchain/ProcessorSlot.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slotchain/ProcessorSlotChain.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slotchain/ResourceWrapper.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slotchain/StringResourceWrapper.java
  sentinel-dashboard/pom.xml
  sentinel-demo/sentinel-demo-basic/src/main/java/com/alibaba/csp/sentinel/demo/flow/FlowQpsDemo.java
  sentinel-demo/sentinel-demo-basic/src/main/java/com/alibaba/csp/sentinel/demo/test/Test.java
  sentinel-extension/sentinel-datasource-apollo/pom.xml
Due: sentinel-core, sentinel-extension

用nacos实现了规则的持久化
  sentinel-dashboard/pom.xml
  sentinel-dashboard/src/main/java/com/alibaba/csp/sentinel/dashboard/DashboardApplication.java
  sentinel-dashboard/src/main/java/com/alibaba/csp/sentinel/dashboard/controller/AppController.java
  sentinel-dashboard/src/main/java/com/alibaba/csp/sentinel/dashboard/controller/AuthorityRuleController.java
  sentinel-dashboard/src/main/java/com/alibaba/csp/sentinel/dashboard/controller/DegradeController.java
  sentinel-dashboard/src/main/java/com/alibaba/csp/sentinel/dashboard/controller/DemoController.java
  sentinel-dashboard/src/main/java/com/alibaba/csp/sentinel/dashboard/controller/FlowControllerV1.java
  sentinel-dashboard/src/main/java/com/alibaba/csp/sentinel/dashboard/controller/MachineRegistryController.java
  sentinel-dashboard/src/main/java/com/alibaba/csp/sentinel/dashboard/controller/MetricController.java
  sentinel-dashboard/src/main/java/com/alibaba/csp/sentinel/dashboard/controller/ParamFlowRuleController.java
  sentinel-dashboard/src/main/java/com/alibaba/csp/sentinel/dashboard/controller/ResourceController.java
  sentinel-dashboard/src/main/java/com/alibaba/csp/sentinel/dashboard/controller/SystemController.java
  sentinel-dashboard/src/main/java/com/alibaba/csp/sentinel/dashboard/controller/VersionController.java
  sentinel-dashboard/src/main/java/com/alibaba/csp/sentinel/dashboard/controller/cluster/ClusterAssignController.java
  sentinel-dashboard/src/main/java/com/alibaba/csp/sentinel/dashboard/controller/cluster/ClusterConfigController.java
  sentinel-dashboard/src/main/java/com/alibaba/csp/sentinel/dashboard/controller/gateway/GatewayFlowRuleController.java
  sentinel-dashboard/src/main/java/com/alibaba/csp/sentinel/dashboard/controller/v2/FlowControllerV2.java
  sentinel-dashboard/src/main/java/com/alibaba/csp/sentinel/dashboard/rule/nacos/AuthorityRuleNacosProvider.java
  sentinel-dashboard/src/main/java/com/alibaba/csp/sentinel/dashboard/rule/nacos/AuthorityRuleNacosPublisher.java
  sentinel-dashboard/src/main/java/com/alibaba/csp/sentinel/dashboard/rule/nacos/ClusterFlowRuleNacosProvider.java
  sentinel-dashboard/src/main/java/com/alibaba/csp/sentinel/dashboard/rule/nacos/ClusterFlowRuleNacosPublisher.java
  sentinel-dashboard/src/main/java/com/alibaba/csp/sentinel/dashboard/rule/nacos/DegradeRuleNacosProvider.java
  sentinel-dashboard/src/main/java/com/alibaba/csp/sentinel/dashboard/rule/nacos/DegradeRuleNacosPublisher.java
  sentinel-dashboard/src/main/java/com/alibaba/csp/sentinel/dashboard/rule/nacos/FlowRuleNacosProvider.java
  sentinel-dashboard/src/main/java/com/alibaba/csp/sentinel/dashboard/rule/nacos/FlowRuleNacosPublisher.java
  sentinel-dashboard/src/main/java/com/alibaba/csp/sentinel/dashboard/rule/nacos/NacosConfig.java
  sentinel-dashboard/src/main/java/com/alibaba/csp/sentinel/dashboard/rule/nacos/ParamFlowRuleNacosProvider.java
  sentinel-dashboard/src/main/java/com/alibaba/csp/sentinel/dashboard/rule/nacos/ParamFlowRuleNacosPublisher.java
  sentinel-dashboard/src/main/java/com/alibaba/csp/sentinel/dashboard/rule/nacos/SystemRuleNacosProvider.java
  sentinel-dashboard/src/main/java/com/alibaba/csp/sentinel/dashboard/rule/nacos/SystemRuleNacosPublisher.java
  sentinel-dashboard/src/main/resources/application.properties
Due: none

upgrade outdated dependency
  sentinel-adapter/sentinel-spring-webmvc-v6x-adapter/pom.xml
Due: sentinel-adapter

fix(README.md): Fix MD059 issue
  sentinel-adapter/sentinel-apache-dubbo-adapter/README.md
  sentinel-adapter/sentinel-apache-dubbo3-adapter/README.md
  sentinel-adapter/sentinel-dubbo-adapter/README.md
  sentinel-adapter/sentinel-sofa-rpc-adapter/README.md
  sentinel-extension/sentinel-annotation-aspectj/README.md
Due: sentinel-adapter, sentinel-extension

fix(README.md): Fix MD059 issue (#3539)
  sentinel-adapter/sentinel-apache-dubbo-adapter/README.md
  sentinel-adapter/sentinel-apache-dubbo3-adapter/README.md
  sentinel-adapter/sentinel-dubbo-adapter/README.md
  sentinel-adapter/sentinel-sofa-rpc-adapter/README.md
  sentinel-extension/sentinel-annotation-aspectj/README.md
Due: sentinel-adapter, sentinel-extension

feat: support Spring Cloud Alibaba 2025
  sentinel-adapter/pom.xml
  sentinel-adapter/sentinel-spring-cloud-gateway-v6x-adapter/README.md
  sentinel-adapter/sentinel-spring-cloud-gateway-v6x-adapter/pom.xml
  sentinel-adapter/sentinel-spring-cloud-gateway-v6x-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/gateway/sc/SentinelGatewayFilter.java
  sentinel-adapter/sentinel-spring-cloud-gateway-v6x-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/gateway/sc/ServerWebExchangeItemParser.java
  sentinel-adapter/sentinel-spring-cloud-gateway-v6x-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/gateway/sc/api/GatewayApiMatcherManager.java
  sentinel-adapter/sentinel-spring-cloud-gateway-v6x-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/gateway/sc/api/SpringCloudGatewayApiDefinitionChangeObserver.java
  sentinel-adapter/sentinel-spring-cloud-gateway-v6x-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/gateway/sc/api/matcher/WebExchangeApiMatcher.java
  sentinel-adapter/sentinel-spring-cloud-gateway-v6x-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/gateway/sc/callback/BlockRequestHandler.java
  sentinel-adapter/sentinel-spring-cloud-gateway-v6x-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/gateway/sc/callback/DefaultBlockRequestHandler.java
  sentinel-adapter/sentinel-spring-cloud-gateway-v6x-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/gateway/sc/callback/GatewayCallbackManager.java
  sentinel-adapter/sentinel-spring-cloud-gateway-v6x-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/gateway/sc/callback/RedirectBlockRequestHandler.java
  sentinel-adapter/sentinel-spring-cloud-gateway-v6x-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/gateway/sc/exception/SentinelGatewayBlockExceptionHandler.java
  sentinel-adapter/sentinel-spring-cloud-gateway-v6x-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/gateway/sc/route/AntRoutePathMatcher.java
  sentinel-adapter/sentinel-spring-cloud-gateway-v6x-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/gateway/sc/route/RegexRoutePathMatcher.java
  sentinel-adapter/sentinel-spring-cloud-gateway-v6x-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/gateway/sc/route/RouteMatchers.java
  sentinel-adapter/sentinel-spring-cloud-gateway-v6x-adapter/src/main/resources/META-INF/services/com.alibaba.csp.sentinel.adapter.gateway.common.api.ApiDefinitionChangeObserver
  sentinel-adapter/sentinel-spring-cloud-gateway-v6x-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/gateway/sc/SentinelGatewayFilterTest.java
  sentinel-adapter/sentinel-spring-cloud-gateway-v6x-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/gateway/sc/SpringCloudGatewayParamParserTest.java
  sentinel-adapter/sentinel-spring-cloud-gateway-v6x-adapter/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
Due: sentinel-adapter

chore(deps): bump slf4j-api version to 2.0.16(#3536)
  sentinel-adapter/sentinel-spring-webmvc-v6x-adapter/pom.xml
Due: sentinel-adapter

refactor: remove repeat check code (#3501)
  sentinel-extension/sentinel-parameter-flow-control/src/main/java/com/alibaba/csp/sentinel/slots/block/flow/param/ParamFlowSlot.java
Due: sentinel-extension

Add maven property to fix ci failure
  sentinel-adapter/sentinel-spring-cloud-gateway-v6x-adapter/pom.xml
Due: sentinel-adapter

doc: Update README.md
  sentinel-adapter/sentinel-spring-cloud-gateway-v6x-adapter/README.md
Due: sentinel-adapter

feat(adapter): new SpringCloudGateway v6 adapter for supporting the SpringCloud 2025 version (#3542)
  sentinel-adapter/pom.xml
  sentinel-adapter/sentinel-spring-cloud-gateway-v6x-adapter/README.md
  sentinel-adapter/sentinel-spring-cloud-gateway-v6x-adapter/pom.xml
  sentinel-adapter/sentinel-spring-cloud-gateway-v6x-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/gateway/sc/SentinelGatewayFilter.java
  sentinel-adapter/sentinel-spring-cloud-gateway-v6x-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/gateway/sc/ServerWebExchangeItemParser.java
  sentinel-adapter/sentinel-spring-cloud-gateway-v6x-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/gateway/sc/api/GatewayApiMatcherManager.java
  sentinel-adapter/sentinel-spring-cloud-gateway-v6x-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/gateway/sc/api/SpringCloudGatewayApiDefinitionChangeObserver.java
  sentinel-adapter/sentinel-spring-cloud-gateway-v6x-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/gateway/sc/api/matcher/WebExchangeApiMatcher.java
  sentinel-adapter/sentinel-spring-cloud-gateway-v6x-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/gateway/sc/callback/BlockRequestHandler.java
  sentinel-adapter/sentinel-spring-cloud-gateway-v6x-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/gateway/sc/callback/DefaultBlockRequestHandler.java
  sentinel-adapter/sentinel-spring-cloud-gateway-v6x-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/gateway/sc/callback/GatewayCallbackManager.java
  sentinel-adapter/sentinel-spring-cloud-gateway-v6x-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/gateway/sc/callback/RedirectBlockRequestHandler.java
  sentinel-adapter/sentinel-spring-cloud-gateway-v6x-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/gateway/sc/exception/SentinelGatewayBlockExceptionHandler.java
  sentinel-adapter/sentinel-spring-cloud-gateway-v6x-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/gateway/sc/route/AntRoutePathMatcher.java
  sentinel-adapter/sentinel-spring-cloud-gateway-v6x-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/gateway/sc/route/RegexRoutePathMatcher.java
  sentinel-adapter/sentinel-spring-cloud-gateway-v6x-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/gateway/sc/route/RouteMatchers.java
  sentinel-adapter/sentinel-spring-cloud-gateway-v6x-adapter/src/main/resources/META-INF/services/com.alibaba.csp.sentinel.adapter.gateway.common.api.ApiDefinitionChangeObserver
  sentinel-adapter/sentinel-spring-cloud-gateway-v6x-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/gateway/sc/SentinelGatewayFilterTest.java
  sentinel-adapter/sentinel-spring-cloud-gateway-v6x-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/gateway/sc/SpringCloudGatewayParamParserTest.java
  sentinel-adapter/sentinel-spring-cloud-gateway-v6x-adapter/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
Due: sentinel-adapter

chore(test): fixed offset syntax by using a correct method. (#3459)
  sentinel-core/src/test/java/com/alibaba/csp/sentinel/eagleeye/EagleEyeCoreUtilsTest.java
Due: sentinel-core

Apply suggestions from code review
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/node/metric/MetricNode.java
Due: sentinel-core

perf: improved Date formatter (#3466)
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/node/metric/MetricNode.java
Due: sentinel-core

OSPP2025 - Research and Implementation of Adaptive Circuit Breaker Function The first implementation version of the adaptive circuit breaker function has been corrected.
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/block/degrade/adaptive/AdaptiveDegradeRule.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/block/degrade/adaptive/check/AdaptiveDegradeCheckProvider.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/block/degrade/adaptive/check/AdaptiveStatisticsConfig.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/block/degrade/adaptive/circuitbreaker/AdaptiveCircuitBreaker.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/block/degrade/adaptive/scenario/OverLoadScenario.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/block/degrade/adaptive/scenario/ScenarioManager.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/block/degrade/adaptive/util/AdaptiveUtils.java
  sentinel-core/src/main/resources/META-INF/services/com.alibaba.csp.sentinel.slotchain.ProcessorSlot
  sentinel-core/src/test/java/com/alibaba/csp/sentinel/slots/block/degrade/adaptive/AdaptiveDegradeRuleManagerTest.java
  sentinel-core/src/test/java/com/alibaba/csp/sentinel/slots/block/degrade/adaptive/AdaptiveDegradeRuleTest.java
  sentinel-core/src/test/java/com/alibaba/csp/sentinel/slots/block/degrade/adaptive/AdaptiveDegradeSlotTest.java
  sentinel-core/src/test/java/com/alibaba/csp/sentinel/slots/block/degrade/adaptive/circuitbreaker/AdaptiveCircuitBreakerTest.java
  sentinel-core/src/test/java/com/alibaba/csp/sentinel/slots/block/degrade/adaptive/scenario/OverloadScenarioConfigTest.java
  sentinel-core/src/test/java/com/alibaba/csp/sentinel/slots/block/degrade/adaptive/scenario/ScenarioManagerTest.java
Due: sentinel-core

Simple rules should have higher priority than regular expression rules
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/block/RuleManager.java
  sentinel-core/src/test/java/com/alibaba/csp/sentinel/slots/block/RuleManagerTest.java
Due: sentinel-core

Removed the unnecessary blank lines (#2424)
  pom.xml
Due: none

chore: update release configuration
  pom.xml
  sentinel-benchmark/pom.xml
  sentinel-dashboard/pom.xml
  sentinel-demo/pom.xml
Due: none

Bump version to 1.8.9
  README.md
  pom.xml
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/Constants.java
  sentinel-dashboard/Dockerfile
  sentinel-dashboard/README.md
Due: sentinel-core

support custom traffic shaping controller
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/block/flow/FlowRuleUtil.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/block/flow/LoggingTrafficShapingControllerFactory.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/block/flow/TrafficShapingControllerFactories.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/block/flow/TrafficShapingControllerFactory.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/block/flow/controller/DefaultControllerFactory.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/block/flow/controller/ThrottlingControllerFactory.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/block/flow/controller/WarmUpControllerFactory.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/block/flow/controller/WarmUpRateLimiterControllerFactory.java
  sentinel-core/src/main/resources/META-INF/services/com.alibaba.csp.sentinel.slots.block.flow.TrafficShapingControllerFactory
Due: sentinel-core

add behavior limits and conflict warning logs with new unit tests
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/block/RuleConstant.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/block/flow/TrafficShapingControllerFactories.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/block/flow/TrafficShapingControllerFactory.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/block/flow/controller/DefaultControllerFactory.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/block/flow/controller/ThrottlingControllerFactory.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/block/flow/controller/WarmUpControllerFactory.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/block/flow/controller/WarmUpRateLimiterControllerFactory.java
  sentinel-core/src/test/java/com/alibaba/csp/sentinel/slots/block/flow/TrafficShapingControllerFactoriesTest.java
  sentinel-core/src/test/java/com/alibaba/csp/sentinel/slots/block/flow/controller/BuiltInControllerFactoryTest.java
  sentinel-core/src/test/java/com/alibaba/csp/sentinel/slots/block/flow/controller/CustomTokenBucketControllerFactory.java
  sentinel-core/src/test/java/com/alibaba/csp/sentinel/slots/block/flow/controller/InvalidReservedBehaviorFactory.java
  sentinel-core/src/test/resources/META-INF/services/com.alibaba.csp.sentinel.slots.block.flow.TrafficShapingControllerFactory
Due: sentinel-core
