Repository alibaba/Sentinel: changes, and which Codecov flags are due for each by the changed paths.
All: sentinel-adapter, sentinel-cluster, sentinel-core, sentinel-extension, sentinel-logging

Support flow control behavior customization
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/block/RuleConstant.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/block/flow/FlowRule.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/block/flow/FlowRuleUtil.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/util/AssertUtil.java
  sentinel-core/src/test/java/com/alibaba/csp/sentinel/slots/block/flow/FlowRuleCheckerTest.java
Due: sentinel-core

fix: Comparison of Compatible Historical FlowRule Objects
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/block/flow/FlowRule.java
Due: sentinel-core

Fix gha smells:
  .github/workflows/ci.yml
  .github/workflows/document-lint.yml
Due: none

Put lifecycle phase at end of mvn command to test for windows
  .github/workflows/ci.yml
Due: none

fix: cluster token checker
  sentinel-cluster/sentinel-cluster-server-default/src/main/java/com/alibaba/csp/sentinel/cluster/flow/ClusterFlowChecker.java
  sentinel-cluster/sentinel-cluster-server-default/src/main/java/com/alibaba/csp/sentinel/cluster/flow/ClusterParamFlowChecker.java
Due: sentinel-cluster

feat: sentinel can feel exception though application has configured ExceptionHandler
  sentinel-adapter/sentinel-spring-webmvc-adapter/README.md
  sentinel-adapter/sentinel-spring-webmvc-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/spring/webmvc/AbstractSentinelInterceptor.java
  sentinel-adapter/sentinel-spring-webmvc-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/spring/webmvc/SentinelExceptionAware.java
  sentinel-adapter/sentinel-spring-webmvc-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/spring/webmvc/config/BaseWebMvcConfig.java
  sentinel-adapter/sentinel-spring-webmvc-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/spring/webmvc/SentinelSpringMvcIntegrationTest.java
  sentinel-adapter/sentinel-spring-webmvc-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/spring/webmvc/config/InterceptorConfig.java
  sentinel-adapter/sentinel-spring-webmvc-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/spring/webmvc/config/SentinelSpringMvcBlockHandlerConfig.java
  sentinel-adapter/sentinel-spring-webmvc-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/spring/webmvc/controller/TestController.java
  sentinel-adapter/sentinel-spring-webmvc-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/spring/webmvc/exception/BizException.java
  sentinel-demo/sentinel-demo-spring-webmvc/src/main/java/com/alibaba/csp/sentinel/demo/spring/webmvc/config/InterceptorConfig.java
Due: sentinel-adapter

Fix reflection exceptions caused by having identically named fallback/blockHandler with different parameter types (#3395)
  sentinel-demo/sentinel-demo-annotation-spring-aop/src/main/java/com/alibaba/csp/sentinel/demo/annotation/aop/controller/DemoController.java
  sentinel-demo/sentinel-demo-annotation-spring-aop/src/main/java/com/alibaba/csp/sentinel/demo/annotation/aop/service/TestService.java
  sentinel-demo/sentinel-demo-annotation-spring-aop/src/main/java/com/alibaba/csp/sentinel/demo/annotation/aop/service/TestServiceImpl.java
  sentinel-extension/sentinel-annotation-aspectj/src/main/java/com/alibaba/csp/sentinel/annotation/aspectj/AbstractSentinelAspectSupport.java
  sentinel-extension/sentinel-annotation-aspectj/src/main/java/com/alibaba/csp/sentinel/annotation/aspectj/ResourceMetadataRegistry.java
  sentinel-extension/sentinel-annotation-aspectj/src/test/java/com/alibaba/csp/sentinel/annotation/aspectj/ResourceMetadataRegistryTest.java
  sentinel-extension/sentinel-annotation-cdi-interceptor/src/main/java/com/alibaba/csp/sentinel/annotation/cdi/interceptor/AbstractSentinelInterceptorSupport.java
  sentinel-extension/sentinel-annotation-cdi-interceptor/src/main/java/com/alibaba/csp/sentinel/annotation/cdi/interceptor/ResourceMetadataRegistry.java
  sentinel-extension/sentinel-annotation-cdi-interceptor/src/test/java/com/alibaba/csp/sentinel/annotation/cdi/interceptor/ResourceMetadataRegistryTest.java
Due: sentinel-extension

Fix #3397 .
  sentinel-demo/sentinel-demo-annotation-spring-aop/src/main/java/com/alibaba/csp/sentinel/demo/annotation/aop/controller/DemoController.java
  sentinel-demo/sentinel-demo-annotation-spring-aop/src/main/java/com/alibaba/csp/sentinel/demo/annotation/aop/service/TestService.java
  sentinel-demo/sentinel-demo-annotation-spring-aop/src/main/java/com/alibaba/csp/sentinel/demo/annotation/aop/service/TestServiceImpl.java
  sentinel-extension/sentinel-annotation-aspectj/src/main/java/com/alibaba/csp/sentinel/annotation/aspectj/AbstractSentinelAspectSupport.java
  sentinel-extension/sentinel-annotation-aspectj/src/main/java/com/alibaba/csp/sentinel/annotation/aspectj/HandlerMeta.java
  sentinel-extension/sentinel-annotation-aspectj/src/main/java/com/alibaba/csp/sentinel/annotation/aspectj/ResourceMetadataRegistry.java
  sentinel-extension/sentinel-annotation-aspectj/src/test/java/com/alibaba/csp/sentinel/annotation/aspectj/ResourceMetadataRegistryTest.java
Due: sentinel-extension

code style: use code block with simple if.
  sentinel-extension/sentinel-annotation-aspectj/src/main/java/com/alibaba/csp/sentinel/annotation/aspectj/HandlerMeta.java
Due: sentinel-extension

feature: add metric exporter interface
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/node/metric/MetricTimerListener.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/node/metric/export/DefaultExporter.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/node/metric/export/MetricExporter.java
  sentinel-core/src/test/java/com/alibaba/csp/sentinel/node/metric/MetricExporterTest.java
  sentinel-core/src/test/java/com/alibaba/csp/sentinel/node/metric/TestMetricExporter.java
  sentinel-core/src/test/resources/META-INF/services/com.alibaba.csp.sentinel.node.metric.export.MetricExporter
Due: sentinel-core

Add sentinel servlet adapter demo
  sentinel-demo/pom.xml
  sentinel-demo/sentinel-demo-servlet/pom.xml
  sentinel-demo/sentinel-demo-servlet/src/main/java/com/alibaba/csp/sentinel/demo/servlet/config/SentinelConfig.java
  sentinel-demo/sentinel-demo-servlet/src/main/java/com/alibaba/csp/sentinel/demo/servlet/controller/DefaultServlet.java
  sentinel-demo/sentinel-demo-servlet/src/main/resources/sentinel.properties
  sentinel-demo/sentinel-demo-servlet/src/main/webapp/WEB-INF/web.xml
Due: none

feat: handle wait for cluster limiter
  sentinel-cluster/sentinel-cluster-client-default/src/main/java/com/alibaba/csp/sentinel/cluster/client/DefaultClusterTokenClient.java
  sentinel-cluster/sentinel-cluster-client-default/src/test/java/com/alibaba/csp/sentinel/cluster/client/DefaultClusterTokenClientTest.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/block/flow/ClusterFlowConfig.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/block/flow/FlowRuleChecker.java
Due: sentinel-cluster, sentinel-core

Fix sentinel-dashboard.log wrong path problems while user defined {csp.sentinel.log.dir}.
  sentinel-dashboard/src/main/resources/application.properties
Due: none

feat: add prefetch count to cluster limiter
  sentinel-cluster/sentinel-cluster-server-default/src/main/java/com/alibaba/csp/sentinel/cluster/flow/ClusterFlowChecker.java
Due: sentinel-cluster

Add sentinel servlet adapter demo (#3422)
  sentinel-demo/pom.xml
  sentinel-demo/sentinel-demo-servlet/pom.xml
  sentinel-demo/sentinel-demo-servlet/src/main/java/com/alibaba/csp/sentinel/demo/servlet/config/SentinelConfig.java
  sentinel-demo/sentinel-demo-servlet/src/main/java/com/alibaba/csp/sentinel/demo/servlet/controller/DefaultServlet.java
  sentinel-demo/sentinel-demo-servlet/src/main/resources/sentinel.properties
  sentinel-demo/sentinel-demo-servlet/src/main/webapp/WEB-INF/web.xml
Due: none

fix issue 2485 which occur oom when using async servlet request.
  sentinel-adapter/sentinel-spring-webmvc-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/spring/webmvc/AbstractSentinelInterceptor.java
  sentinel-adapter/sentinel-spring-webmvc-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/spring/webmvc/SentinelSpringMvcIntegrationTest.java
  sentinel-adapter/sentinel-spring-webmvc-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/spring/webmvc/controller/TestController.java
  sentinel-demo/sentinel-demo-spring-webmvc/src/main/java/com/alibaba/csp/sentinel/demo/spring/webmvc/config/InterceptorConfig.java
  sentinel-demo/sentinel-demo-spring-webmvc/src/main/java/com/alibaba/csp/sentinel/demo/spring/webmvc/controller/WebMvcTestController.java
Due: sentinel-adapter

feat: sentinel can feel exception though application has configured ExceptionHandler (#3409)
  sentinel-adapter/sentinel-spring-webmvc-adapter/README.md
  sentinel-adapter/sentinel-spring-webmvc-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/spring/webmvc/AbstractSentinelInterceptor.java
  sentinel-adapter/sentinel-spring-webmvc-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/spring/webmvc/SentinelExceptionAware.java
  sentinel-adapter/sentinel-spring-webmvc-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/spring/webmvc/config/BaseWebMvcConfig.java
  sentinel-adapter/sentinel-spring-webmvc-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/spring/webmvc/SentinelSpringMvcIntegrationTest.java
  sentinel-adapter/sentinel-spring-webmvc-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/spring/webmvc/config/InterceptorConfig.java
  sentinel-adapter/sentinel-spring-webmvc-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/spring/webmvc/config/SentinelSpringMvcBlockHandlerConfig.java
  sentinel-adapter/sentinel-spring-webmvc-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/spring/webmvc/controller/TestController.java
  sentinel-adapter/sentinel-spring-webmvc-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/spring/webmvc/exception/BizException.java
  sentinel-demo/sentinel-demo-spring-webmvc/src/main/java/com/alibaba/csp/sentinel/demo/spring/webmvc/config/InterceptorConfig.java
Due: sentinel-adapter

optimize imports
  sentinel-adapter/sentinel-spring-webmvc-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/spring/webmvc/SentinelSpringMvcIntegrationTest.java
  sentinel-demo/sentinel-demo-spring-webmvc/src/main/java/com/alibaba/csp/sentinel/demo/spring/webmvc/controller/WebMvcTestController.java
Due: sentinel-adapter

1. fix the same issue in the webmvc-v6x 2. improve based on review comments
  sentinel-adapter/sentinel-spring-webmvc-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/spring/webmvc/AbstractSentinelInterceptor.java
  sentinel-adapter/sentinel-spring-webmvc-v6x-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/spring/webmvc_v6x/AbstractSentinelInterceptor.java
  sentinel-adapter/sentinel-spring-webmvc-v6x-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/spring/webmvc_v6x/SentinelSpringMvcIntegrationTest.java
  sentinel-adapter/sentinel-spring-webmvc-v6x-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/spring/webmvc_v6x/controller/TestController.java
  sentinel-demo/sentinel-demo-spring-webmvc/src/main/java/com/alibaba/csp/sentinel/demo/spring/webmvc/controller/WebMvcTestController.java
Due: sentinel-adapter

fix issue 2485 which occur oom when using async servlet request. (#3440)
  sentinel-adapter/sentinel-spring-webmvc-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/spring/webmvc/AbstractSentinelInterceptor.java
  sentinel-adapter/sentinel-spring-webmvc-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/spring/webmvc/SentinelSpringMvcIntegrationTest.java
  sentinel-adapter/sentinel-spring-webmvc-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/spring/webmvc/controller/TestController.java
  sentinel-adapter/sentinel-spring-webmvc-v6x-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/spring/webmvc_v6x/AbstractSentinelInterceptor.java
  sentinel-adapter/sentinel-spring-webmvc-v6x-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/spring/webmvc_v6x/SentinelSpringMvcIntegrationTest.java
  sentinel-adapter/sentinel-spring-webmvc-v6x-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/spring/webmvc_v6x/controller/TestController.java
  sentinel-demo/sentinel-demo-spring-webmvc/src/main/java/com/alibaba/csp/sentinel/demo/spring/webmvc/controller/WebMvcTestController.java
Due: sentinel-adapter

1. fix the issue#3443, set appropriate status and message for all type of BlockException.
  sentinel-adapter/sentinel-spring-webmvc-adapter/pom.xml
  sentinel-adapter/sentinel-spring-webmvc-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/spring/webmvc/callback/DefaultBlockExceptionHandler.java
  sentinel-adapter/sentinel-spring-webmvc-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/spring/webmvc/SentinelDefaultBlockExceptionHandlerTest.java
  sentinel-adapter/sentinel-spring-webmvc-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/spring/webmvc/config/DefaultInterceptorConfig.java
  sentinel-adapter/sentinel-web-adapter-common/pom.xml
  sentinel-adapter/sentinel-web-adapter-common/src/main/java/com/alibaba/csp/sentinel/adapter/web/common/DefaultBlockExceptionResponse.java
Due: sentinel-adapter

feature: basic support for sentinel event, interface and outer ops tools
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/SentinelEventBus.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/SentinelEventListener.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/factory/SentinelEventMulticasterFactory.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/model/SentinelEvent.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/multicaster/SentinelEventMulticaster.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/registry/SentinelEventListenerRegistry.java
Due: sentinel-core

feature: add base impl for event components.
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/SentinelEventBus.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/factory/DefaultSentinelEventMulticasterFactory.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/multicaster/DefaultSentinelEventMulticaster.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/registry/DefaultSentinelEventListenerRegistry.java
  sentinel-core/src/main/resources/META-INF/services/com.alibaba.csp.sentinel.event.factory.SentinelEventMulticasterFactory
  sentinel-core/src/main/resources/META-INF/services/com.alibaba.csp.sentinel.event.registry.SentinelEventListenerRegistry
Due: sentinel-core

feature: add support for multicaster, remove no plan feature in listener.
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/EventProperties.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/SentinelEventBus.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/SentinelEventListener.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/multicaster/DefaultSentinelEventMulticaster.java
Due: sentinel-core

feature: add freq limit for event publish
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/SentinelEventBus.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/freq/SentinelEventFreqLimiter.java
Due: sentinel-core

feature: add flow block event support
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/SentinelEventBus.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/freq/PeriodFreqLimiter.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/freq/impl/BaseRuleIdPeriodFreqLimiter.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/model/impl/SentinelRuleEvent.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/event/BlockEventPublisher.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/event/EventSlot.java
Due: sentinel-core

fix globalSentinelEventMulticaster no init problem
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/SentinelEventBus.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/factory/DefaultSentinelEventMulticasterFactory.java
  sentinel-core/src/main/resources/META-INF/services/com.alibaba.csp.sentinel.slotchain.ProcessorSlot
Due: sentinel-core

fix error init for period limit val
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/freq/PeriodFreqLimiter.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/event/BlockEventPublisher.java
Due: sentinel-core

1. fix the issue#3443 for webmvc-v6x-adapter 2. add the Sentinel Exception Aware for webmvc-v6x-adapter.
  sentinel-adapter/sentinel-spring-webmvc-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/spring/webmvc/SentinelDefaultBlockExceptionHandlerTest.java
  sentinel-adapter/sentinel-spring-webmvc-v6x-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/spring/webmvc_v6x/AbstractSentinelInterceptor.java
  sentinel-adapter/sentinel-spring-webmvc-v6x-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/spring/webmvc_v6x/SentinelExceptionAware.java
  sentinel-adapter/sentinel-spring-webmvc-v6x-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/spring/webmvc_v6x/callback/DefaultBlockExceptionHandler.java
  sentinel-adapter/sentinel-spring-webmvc-v6x-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/spring/webmvc_v6x/config/BaseWebMvcConfig.java
  sentinel-adapter/sentinel-spring-webmvc-v6x-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/spring/webmvc_v6x/SentinelDefaultBlockExceptionHandlerTest.java
  sentinel-adapter/sentinel-spring-webmvc-v6x-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/spring/webmvc_v6x/SentinelSpringMvcIntegrationTest.java
  sentinel-adapter/sentinel-spring-webmvc-v6x-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/spring/webmvc_v6x/callback/DefaultBlockExceptionHandlerTest.java
  sentinel-adapter/sentinel-spring-webmvc-v6x-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/spring/webmvc_v6x/config/DefaultInterceptorConfig.java
  sentinel-adapter/sentinel-spring-webmvc-v6x-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/spring/webmvc_v6x/config/InterceptorConfig.java
  sentinel-adapter/sentinel-spring-webmvc-v6x-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/spring/webmvc_v6x/config/SentinelSpringMvcBlockHandlerConfig.java
  sentinel-adapter/sentinel-spring-webmvc-v6x-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/spring/webmvc_v6x/controller/TestController.java
  sentinel-adapter/sentinel-spring-webmvc-v6x-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/spring/webmvc_v6x/exception/BizException.java
Due: sentinel-adapter

remove the clean since cleanUp runs after each test
  sentinel-adapter/sentinel-spring-webmvc-v6x-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/spring/webmvc_v6x/SentinelDefaultBlockExceptionHandlerTest.java
Due: sentinel-adapter

remove the clean since cleanUp runs after each test
  sentinel-adapter/sentinel-spring-webmvc-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/spring/webmvc/SentinelDefaultBlockExceptionHandlerTest.java
  sentinel-adapter/sentinel-spring-webmvc-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/spring/webmvc/SentinelSpringMvcIntegrationTest.java
  sentinel-adapter/sentinel-spring-webmvc-v6x-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/spring/webmvc_v6x/SentinelSpringMvcIntegrationTest.java
Due: sentinel-adapter

remove the clean since cleanUp runs after each test
  sentinel-adapter/sentinel-spring-webmvc-v6x-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/spring/webmvc_v6x/SentinelSpringMvcIntegrationTest.java
Due: sentinel-adapter

add flow block event.
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/model/impl/FlowBlockEvent.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/event/BlockEventPublisher.java
Due: sentinel-core

fix commend.
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/EventProperties.java
Due: sentinel-core

add spi annotation to declare loading order.
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/factory/DefaultSentinelEventMulticasterFactory.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/registry/DefaultSentinelEventListenerRegistry.java
Due: sentinel-core

add sys block listen
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/freq/impl/BaseSysMetricPeriodFreqLimiter.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/model/impl/SystemBlockEvent.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/event/BlockEventPublisher.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/system/SystemRuleManager.java
Due: sentinel-core

add auth block listen
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/freq/impl/BaseOriginPeriodFreqLimiter.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/freq/impl/BaseSysMetricPeriodFreqLimiter.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/event/model/impl/AuthorityBlockEvent.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/event/BlockEventPublisher.java
Due: sentinel-core

Path conditions:
  sentinel-adapter: any of: sentinel-adapter, but not: sentinel-demo/.*, sentinel-dashboard/.*, sentinel-benchmark/.*, sentinel-transport/.*, sentinel-core/src/main/java/com/alibaba/csp/sentinel/eagleeye/*
  sentinel-cluster: any of: sentinel-cluster, but not: sentinel-demo/.*, sentinel-dashboard/.*, sentinel-benchmark/.*, sentinel-transport/.*, sentinel-core/src/main/java/com/alibaba/csp/sentinel/eagleeye/*
  sentinel-core: any of: sentinel-core, but not: sentinel-demo/.*, sentinel-dashboard/.*, sentinel-benchmark/.*, sentinel-transport/.*, sentinel-core/src/main/java/com/alibaba/csp/sentinel/eagleeye/*
  sentinel-extension: any of: sentinel-extension, but not: sentinel-demo/.*, sentinel-dashboard/.*, sentinel-benchmark/.*, sentinel-transport/.*, sentinel-core/src/main/java/com/alibaba/csp/sentinel/eagleeye/*
  sentinel-logging: any of: sentinel-logging, but not: sentinel-demo/.*, sentinel-dashboard/.*, sentinel-benchmark/.*, sentinel-transport/.*, sentinel-core/src/main/java/com/alibaba/csp/sentinel/eagleeye/*
