Repository alibaba/Sentinel: changes, and which Codecov flags are due for each by the changed paths.
All: sentinel-adapter, sentinel-cluster, sentinel-core, sentinel-extension, sentinel-logging

.codecov.yml:

ignore:
  - "sentinel-demo/.*"
  - "sentinel-dashboard/.*"
  - "sentinel-benchmark/.*"
  - "sentinel-transport/.*"
  - "sentinel-core/src/main/java/com/alibaba/csp/sentinel/eagleeye/*"
comment:                  # this is a top-level key
  layout: " condensed_header, diff, condensed_files, components, condensed_footer"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: false        # [true :: must have a base report to post]
  require_head: true       # [true :: must have a head report to post]
  hide_project_coverage: false # [true :: only show coverage on the git diff]
component_management:
  individual_components:
    - component_id: sentinel-adapter  # this is an identifier that should not be changed
      name: sentinel-adapter  # this is a display name, and can be changed freely
      paths:
        - sentinel-adapter
    - component_id: sentinel-cluster
      name: sentinel-cluster
      paths:
        - sentinel-cluster
    - component_id: sentinel-core
      name: sentinel-core
      paths:
        - sentinel-core
    - component_id: sentinel-extension
      name: sentinel-extension
      paths:
        - sentinel-extension
    - component_id: sentinel-logging
      name: sentinel-logging
      paths:
        - sentinel-logging
coverage:
  status:
    project:
      default:
        target: auto
        threshold: 0.5%
        base: auto
    patch:
      default:
        target: 60%
        threshold: 1%
        base: auto

Polish CodeCov related config (#3358)
  .codecov.yml
  .github/workflows/ci.yml
Due: none

replace ThreadLocal<DateFormat> with DateTimeFormatter (#3353)
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/eagleeye/EagleEyeCoreUtils.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/log/jul/CspFormatter.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/log/jul/DateFileLogHandler.java
Due: sentinel-core

fix ParamFlowPartialIntegrationTest
  sentinel-extension/sentinel-parameter-flow-control/src/test/java/com/alibaba/csp/sentinel/slots/block/flow/param/ParamFlowPartialIntegrationTest.java
Due: sentinel-extension

remove csp.sentinel.log.output.type
  sentinel-core/src/test/java/com/alibaba/csp/sentinel/util/TimeUtilTest.java
Due: sentinel-core

try fix testConcurrentAcquireAndRelease
  sentinel-cluster/sentinel-cluster-server-default/src/test/java/com/alibaba/csp/sentinel/cluster/flow/ConcurrentClusterFlowCheckerTest.java
Due: sentinel-cluster

remove stdout
  sentinel-extension/sentinel-parameter-flow-control/src/test/java/com/alibaba/csp/sentinel/slots/block/flow/param/ParamFlowThrottleRateLimitingCheckerTest.java
Due: sentinel-extension

CurrentConcurrencyManagerTest,adjust the flowId to prevent conflicts
  sentinel-cluster/sentinel-cluster-server-default/src/test/java/com/alibaba/csp/sentinel/cluster/flow/statistic/concurrent/CurrentConcurrencyManagerTest.java
Due: sentinel-cluster

ConcurrentClusterFlowCheckerTest,djust the flowId to prevent conflicts
  sentinel-cluster/sentinel-cluster-server-default/src/test/java/com/alibaba/csp/sentinel/cluster/flow/ConcurrentClusterFlowCheckerTest.java
Due: sentinel-cluster

update year
  sentinel-cluster/sentinel-cluster-server-default/src/test/java/com/alibaba/csp/sentinel/cluster/flow/ConcurrentClusterFlowCheckerTest.java
  sentinel-cluster/sentinel-cluster-server-default/src/test/java/com/alibaba/csp/sentinel/cluster/flow/statistic/concurrent/CurrentConcurrencyManagerTest.java
  sentinel-core/src/test/java/com/alibaba/csp/sentinel/util/TimeUtilTest.java
  sentinel-extension/sentinel-parameter-flow-control/src/test/java/com/alibaba/csp/sentinel/slots/block/flow/param/ParamFlowThrottleRateLimitingCheckerTest.java
Due: sentinel-cluster, sentinel-core, sentinel-extension

fix flaky tests (#3364)
  sentinel-cluster/sentinel-cluster-server-default/src/test/java/com/alibaba/csp/sentinel/cluster/flow/ConcurrentClusterFlowCheckerTest.java
  sentinel-cluster/sentinel-cluster-server-default/src/test/java/com/alibaba/csp/sentinel/cluster/flow/statistic/concurrent/CurrentConcurrencyManagerTest.java
  sentinel-core/src/test/java/com/alibaba/csp/sentinel/util/TimeUtilTest.java
  sentinel-extension/sentinel-parameter-flow-control/src/test/java/com/alibaba/csp/sentinel/slots/block/flow/param/ParamFlowPartialIntegrationTest.java
  sentinel-extension/sentinel-parameter-flow-control/src/test/java/com/alibaba/csp/sentinel/slots/block/flow/param/ParamFlowThrottleRateLimitingCheckerTest.java
Due: sentinel-cluster, sentinel-core, sentinel-extension

feat:Add a batch incremental Add rule for the Circuit Breaker manager
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/block/degrade/DegradeRuleManager.java
Due: sentinel-core

dos2unix ParamFlowDefaultCheckerTest.java
  sentinel-extension/sentinel-parameter-flow-control/src/test/java/com/alibaba/csp/sentinel/slots/block/flow/param/ParamFlowDefaultCheckerTest.java
Due: sentinel-extension

fix test case SentinelDubboConsumerFilterTest#testDegradeSync
  sentinel-adapter/sentinel-apache-dubbo-adapter/pom.xml
  sentinel-adapter/sentinel-apache-dubbo-adapter/src/test/java/com/alibaba/csp/sentinel/BaseTest.java
  sentinel-adapter/sentinel-apache-dubbo-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/dubbo/AbstractTimeBasedTest.java
  sentinel-adapter/sentinel-apache-dubbo-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/dubbo/SentinelDubboConsumerFilterTest.java
  sentinel-adapter/sentinel-apache-dubbo3-adapter/pom.xml
  sentinel-adapter/sentinel-apache-dubbo3-adapter/src/test/java/com/alibaba/csp/sentinel/BaseTest.java
  sentinel-adapter/sentinel-apache-dubbo3-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/dubbo3/AbstractTimeBasedTest.java
  sentinel-adapter/sentinel-apache-dubbo3-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/dubbo3/SentinelDubboConsumerFilterTest.java
Due: sentinel-adapter

fix testParamFlowDefaultCheckSingleValueCheckQpsMultipleThreads by rule.setDurationInSec(2)
  sentinel-extension/sentinel-parameter-flow-control/src/test/java/com/alibaba/csp/sentinel/slots/block/flow/param/ParamFlowDefaultCheckerTest.java
Due: sentinel-extension

fix quarkus test by set /txt sleep 300
  sentinel-demo/sentinel-demo-quarkus/src/main/java/com/alibaba/csp/sentinel/demo/quarkus/GreetingResource.java
Due: none

fix testDegradeAsync
  sentinel-adapter/sentinel-apache-dubbo-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/dubbo/AbstractTimeBasedTest.java
  sentinel-adapter/sentinel-apache-dubbo-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/dubbo/SentinelDubboConsumerFilterTest.java
  sentinel-adapter/sentinel-apache-dubbo3-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/dubbo3/AbstractTimeBasedTest.java
  sentinel-adapter/sentinel-apache-dubbo3-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/dubbo3/SentinelDubboConsumerFilterTest.java
Due: sentinel-adapter

use testcontainers to fix testConsulDataSourceWhenInit
  sentinel-extension/sentinel-datasource-consul/pom.xml
  sentinel-extension/sentinel-datasource-consul/src/test/java/com/alibaba/csp/sentinel/datasource/consul/ConsulDataSourceTest.java
Due: sentinel-extension

introduce intermediate node to avoid ABA problem
  sentinel-extension/sentinel-parameter-flow-control/src/main/java/com/alibaba/csp/sentinel/slots/block/flow/param/ParamFlowChecker.java
  sentinel-extension/sentinel-parameter-flow-control/src/main/java/com/alibaba/csp/sentinel/slots/block/flow/param/ParameterMetric.java
  sentinel-extension/sentinel-parameter-flow-control/src/main/java/com/alibaba/csp/sentinel/slots/block/flow/param/TokenUpdateStatus.java
  sentinel-extension/sentinel-parameter-flow-control/src/test/java/com/alibaba/csp/sentinel/slots/block/flow/param/ParamFlowCheckerTest.java
  sentinel-extension/sentinel-parameter-flow-control/src/test/java/com/alibaba/csp/sentinel/slots/block/flow/param/ParamFlowDefaultCheckerTest.java
  sentinel-extension/sentinel-parameter-flow-control/src/test/java/com/alibaba/csp/sentinel/slots/block/flow/param/ParamFlowSlotTest.java
Due: sentinel-extension

fix flaky tests and fix passDefaultLocalCheck (#3367)
  sentinel-adapter/sentinel-apache-dubbo-adapter/pom.xml
  sentinel-adapter/sentinel-apache-dubbo-adapter/src/test/java/com/alibaba/csp/sentinel/BaseTest.java
  sentinel-adapter/sentinel-apache-dubbo-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/dubbo/AbstractTimeBasedTest.java
  sentinel-adapter/sentinel-apache-dubbo-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/dubbo/SentinelDubboConsumerFilterTest.java
  sentinel-adapter/sentinel-apache-dubbo3-adapter/pom.xml
  sentinel-adapter/sentinel-apache-dubbo3-adapter/src/test/java/com/alibaba/csp/sentinel/BaseTest.java
  sentinel-adapter/sentinel-apache-dubbo3-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/dubbo3/AbstractTimeBasedTest.java
  sentinel-adapter/sentinel-apache-dubbo3-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/dubbo3/SentinelDubboConsumerFilterTest.java
  sentinel-demo/sentinel-demo-quarkus/src/main/java/com/alibaba/csp/sentinel/demo/quarkus/GreetingResource.java
  sentinel-extension/sentinel-datasource-consul/pom.xml
  sentinel-extension/sentinel-datasource-consul/src/test/java/com/alibaba/csp/sentinel/datasource/consul/ConsulDataSourceTest.java
  sentinel-extension/sentinel-parameter-flow-control/src/main/java/com/alibaba/csp/sentinel/slots/block/flow/param/ParamFlowChecker.java
  sentinel-extension/sentinel-parameter-flow-control/src/main/java/com/alibaba/csp/sentinel/slots/block/flow/param/ParameterMetric.java
  sentinel-extension/sentinel-parameter-flow-control/src/main/java/com/alibaba/csp/sentinel/slots/block/flow/param/TokenUpdateStatus.java
  sentinel-extension/sentinel-parameter-flow-control/src/test/java/com/alibaba/csp/sentinel/slots/block/flow/param/ParamFlowCheckerTest.java
  sentinel-extension/sentinel-parameter-flow-control/src/test/java/com/alibaba/csp/sentinel/slots/block/flow/param/ParamFlowDefaultCheckerTest.java
  sentinel-extension/sentinel-parameter-flow-control/src/test/java/com/alibaba/csp/sentinel/slots/block/flow/param/ParamFlowSlotTest.java
Due: sentinel-adapter, sentinel-extension

Fix when duplication spi class found using SpiLoader
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/spi/SpiLoader.java
Due: sentinel-core

fix: DefaultBlockRequestHandler Adapt to SpringBoot 3
  sentinel-adapter/sentinel-spring-cloud-gateway-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/gateway/sc/callback/DefaultBlockRequestHandler.java
  sentinel-adapter/sentinel-spring-webflux-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/spring/webflux/callback/DefaultBlockRequestHandler.java
Due: sentinel-adapter

test: add DefaultBlockRequestHandler unit test
  sentinel-adapter/sentinel-spring-cloud-gateway-adapter/pom.xml
  sentinel-adapter/sentinel-spring-cloud-gateway-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/gateway/sc/callback/DefaultBlockRequestHandlerTest.java
Due: sentinel-adapter

test: add webflux DefaultBlockRequestHandler unit test
  sentinel-adapter/sentinel-spring-webflux-adapter/pom.xml
  sentinel-adapter/sentinel-spring-webflux-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/spring/webflux/callback/DefaultBlockRequestHandlerTest.java
Due: sentinel-adapter

feat: add local token cache for cluster
  sentinel-cluster/sentinel-cluster-client-default/src/main/java/com/alibaba/csp/sentinel/cluster/client/DefaultClusterTokenClient.java
  sentinel-cluster/sentinel-cluster-client-default/src/test/java/com/alibaba/csp/sentinel/cluster/client/DefaultClusterTokenClientTest.java
  sentinel-cluster/sentinel-cluster-server-default/src/main/java/com/alibaba/csp/sentinel/cluster/flow/DefaultTokenService.java
  sentinel-cluster/sentinel-cluster-server-default/src/main/java/com/alibaba/csp/sentinel/cluster/server/DefaultEmbeddedTokenServer.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/cluster/TokenResult.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/cluster/TokenService.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/block/flow/ClusterFlowConfig.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/block/flow/FlowRuleChecker.java
Due: sentinel-cluster, sentinel-core

add javadoc and prepend license header
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/annotation/SentinelResource.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/fallback/DefaultGlobalFallback.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/fallback/IGlobalFallback.java
Due: sentinel-core

fix unit test failure bugs
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/fallback/DefaultGlobalFallback.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/fallback/IGlobalFallback.java
  sentinel-extension/sentinel-annotation-aspectj/src/main/java/com/alibaba/csp/sentinel/annotation/aspectj/ResourceMetadataRegistry.java
  sentinel-extension/sentinel-annotation-aspectj/src/test/java/com/alibaba/csp/sentinel/annotation/aspectj/ResourceMetadataRegistryTest.java
Due: sentinel-core, sentinel-extension

Add global fallback support for AspectJ annotation extension
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/annotation/SentinelResource.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/fallback/DefaultGlobalFallback.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/fallback/IGlobalFallback.java
  sentinel-extension/sentinel-annotation-aspectj/src/main/java/com/alibaba/csp/sentinel/annotation/aspectj/AbstractSentinelAspectSupport.java
  sentinel-extension/sentinel-annotation-aspectj/src/main/java/com/alibaba/csp/sentinel/annotation/aspectj/ResourceMetadataRegistry.java
  sentinel-extension/sentinel-annotation-aspectj/src/main/java/com/alibaba/csp/sentinel/annotation/aspectj/SentinelResourceAspect.java
  sentinel-extension/sentinel-annotation-aspectj/src/test/java/com/alibaba/csp/sentinel/annotation/aspectj/ResourceMetadataRegistryTest.java
  sentinel-extension/sentinel-annotation-aspectj/src/test/java/com/alibaba/csp/sentinel/annotation/aspectj/integration/SentinelAnnotationIntegrationTest.java
  sentinel-extension/sentinel-annotation-aspectj/src/test/java/com/alibaba/csp/sentinel/annotation/aspectj/integration/fallback/AnnotationGlobalFallback.java
  sentinel-extension/sentinel-annotation-aspectj/src/test/java/com/alibaba/csp/sentinel/annotation/aspectj/integration/service/FooService.java
Due: sentinel-core, sentinel-extension

fix: issues#3372
  sentinel-dashboard/src/main/java/com/alibaba/csp/sentinel/dashboard/controller/v2/FlowControllerV2.java
Due: none

Fix when duplication spi class found using SpiLoader (#3387)
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/spi/SpiLoader.java
Due: sentinel-core

fix: 修复ParameterMetric在生产环境导致的内存泄漏（请求对象继承ParamFlowArgument，包含sku等多个无限枚举值字段）
  sentinel-extension/sentinel-parameter-flow-control/src/main/java/com/alibaba/csp/sentinel/slots/block/flow/param/ParameterMetric.java
Due: sentinel-extension

feat: add fallback stats for cluster limit
  sentinel-cluster/sentinel-cluster-client-default/src/main/java/com/alibaba/csp/sentinel/cluster/client/DefaultClusterTokenClient.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/node/DefaultNode.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/node/Node.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/node/StatisticNode.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/block/flow/FlowRuleChecker.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/statistic/MetricEvent.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/statistic/data/MetricBucket.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/statistic/metric/ArrayMetric.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/statistic/metric/Metric.java
  sentinel-transport/sentinel-transport-common/src/main/java/com/alibaba/csp/sentinel/command/vo/NodeVo.java
Due: sentinel-cluster, sentinel-core

fix: reset stats should also reset rollingCounterInMinute
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/node/StatisticNode.java
Due: sentinel-core

refactor data clumps
  sentinel-dashboard/src/main/java/com/alibaba/csp/sentinel/dashboard/domain/ResourceTreeNode.java
  sentinel-transport/sentinel-transport-common/src/main/java/com/alibaba/csp/sentinel/command/vo/NodeVo.java
  sentinel-transport/sentinel-transport-common/src/main/java/com/alibaba/csp/sentinel/command/vo/TrafficStatistics.java
Due: none

fix:修复dashboard ipv6不支持问题
  sentinel-dashboard/src/main/java/com/alibaba/csp/sentinel/dashboard/client/SentinelApiClient.java
  sentinel-dashboard/src/main/java/com/alibaba/csp/sentinel/dashboard/metric/MetricFetcher.java
  sentinel-dashboard/src/main/webapp/resources/app/scripts/controllers/authority.js
  sentinel-dashboard/src/main/webapp/resources/app/scripts/controllers/cluster_single.js
  sentinel-dashboard/src/main/webapp/resources/app/scripts/controllers/degrade.js
  sentinel-dashboard/src/main/webapp/resources/app/scripts/controllers/flow_v1.js
  sentinel-dashboard/src/main/webapp/resources/app/scripts/controllers/flow_v2.js
  sentinel-dashboard/src/main/webapp/resources/app/scripts/controllers/gateway/api.js
  sentinel-dashboard/src/main/webapp/resources/app/scripts/controllers/gateway/flow.js
  sentinel-dashboard/src/main/webapp/resources/app/scripts/controllers/gateway/identity.js
  sentinel-dashboard/src/main/webapp/resources/app/scripts/controllers/identity.js
  sentinel-dashboard/src/main/webapp/resources/app/scripts/controllers/param_flow.js
  sentinel-dashboard/src/main/webapp/resources/app/scripts/controllers/system.js
Due: none

fix #3386
  sentinel-extension/sentinel-annotation-aspectj/src/main/java/com/alibaba/csp/sentinel/annotation/aspectj/AbstractSentinelAspectSupport.java
  sentinel-extension/sentinel-annotation-aspectj/src/main/java/com/alibaba/csp/sentinel/annotation/aspectj/ResourceMetadataRegistry.java
  sentinel-extension/sentinel-annotation-aspectj/src/test/java/com/alibaba/csp/sentinel/annotation/aspectj/ResourceMetadataRegistryTest.java
  sentinel-extension/sentinel-annotation-cdi-interceptor/src/main/java/com/alibaba/csp/sentinel/annotation/cdi/interceptor/AbstractSentinelInterceptorSupport.java
  sentinel-extension/sentinel-annotation-cdi-interceptor/src/main/java/com/alibaba/csp/sentinel/annotation/cdi/interceptor/ResourceMetadataRegistry.java
  sentinel-extension/sentinel-annotation-cdi-interceptor/src/test/java/com/alibaba/csp/sentinel/annotation/cdi/interceptor/ResourceMetadataRegistryTest.java
Due: sentinel-extension

Add a spring-aop example that fits #3386 case.
  sentinel-demo/sentinel-demo-annotation-spring-aop/src/main/java/com/alibaba/csp/sentinel/demo/annotation/aop/controller/DemoController.java
  sentinel-demo/sentinel-demo-annotation-spring-aop/src/main/java/com/alibaba/csp/sentinel/demo/annotation/aop/service/TestService.java
  sentinel-demo/sentinel-demo-annotation-spring-aop/src/main/java/com/alibaba/csp/sentinel/demo/annotation/aop/service/TestServiceImpl.java
Due: none
